[2015-07-29 14:27] dixudx opened #2 "acquire workitem scheme by item type"
In order to create new workitems, the workitem schemes are needed.

They varies in the optional and mandatory fields.

[2015-07-30 06:24] dixudx opened #3 "for query: the response is unparsable"
[code]

Although the status code of the response is 200, the response data is somewhat invalid.

[2015-07-30 15:09] dixudx commented on #3
fix the bug with [this commit](https://github.com/dixudx/rtcclient/commit/9f124b2bf948896a5ad4d24eead7c98760608dc0)

[2015-07-30 15:09] #3 closed

[2015-07-30 15:22] dixudx commented on #3
Actually this is a bug of RTC.

For a query with many workitems matched, a single request/page cannot display them all. You have to collect these workitems page by page. However the return status code is 200 by the initial request url (query url), whose response is something like "Javascript is either disabled or not available in your Browser". It is so weird.

What you need to avoid this bug is t

[2015-07-31 07:23] dixudx commented on #2
After several days investigation, I could not find a way to get an empty workitem template from url, which can be used to render for new workitems, especially for your customized workitem type with some optional and mandatory fields.

If someone get a way, please do not hesitate to tell me. Thanks so much.

So preestablished workitem templates seem to be an effective way to steer clear of this iss

[2015-07-31 15:27] dixudx commented on #2
close this issue with [new commit](https://github.com/dixudx/rtcclient/pull/5) merged into master branch.

[2015-07-31 15:27] #2 closed

[2015-08-01 08:45] dixudx opened #7 "add method to update workitem"

[2015-08-01 08:51] dixudx commented on #7
almost implement this new feature with [this commit](https://github.com/dixudx/rtcclient/commit/c7cd61959eea77ab6e4285d857e8b2369b4d982b)

TODO:

* add method to handle fetching valid info for below fields
    * teamArea_name (Team Area)
    * ownedBy (Owned By)
    * plannedFor (Planned For)
    * severity (Severity)
    * priority (Priority)
    * filedAgainst (Filed Against)

[2015-08-06 08:42] dixudx commented on #3
There is also another way to avoid this issue:

append "oslc_cm.pageSize={1}&_startIndex=0" in the url

Refer to line 1022 in [this commit](https://github.com/dixudx/rtcclient/commit/827546fd80795d06dfc3981245425f2525e47b09#diff-29b1d012bdddcf41bfce301e7d6af950R1027)

[2015-08-19 14:26] dixudx opened #29 "add method to add/remove subscribers to a workitem"

[2015-08-24 07:55] dixudx opened #37 "add method to retrieve/run saved queries"
retrieve user saved queries and run the specified queries

[2015-08-24 08:58] dixudx opened #38 "add methods to class Workitem"
* <del>getResolution</del>
* <del>getResolutions</del>
* <del>getState</del>
* getStates

[2015-08-25 06:25] dixudx opened #40 "handle authentication failed"

[2015-08-25 06:45] dixudx commented on #40
add exception for authfailed.

See this [commit](https://github.com/dixudx/rtcclient/commit/8a7106953cda04528067873f581c74ffe619cc3c)

[2015-08-25 06:45] #40 closed

[2015-09-01 05:30] dixudx commented on #38
implement with this [commit](https://github.com/dixudx/rtcclient/commit/4c4341747fae3792f5775e694c11ff35de1b7211)

[2015-09-01 05:30] #38 closed

[2015-09-07 10:24] dixudx commented on #29
implement this feature. see [this commit](https://github.com/dixudx/rtcclient/commit/cb9526f11e922d74e1c2da9c72e85019766c23f0)

[2015-09-07 10:24] #29 closed

[2015-09-09 11:05] dixudx commented on #37
implement this feature with [this pull](https://github.com/dixudx/rtcclient/pull/49)

[2015-09-09 11:05] #37 closed

[2015-09-09 13:27] dixudx commented on #37
WARNING: now the RTC server cannot correctly list all the saved queries. It seems to be a bug of RTC. Recommend using `runSavedQueryByUrl` to query all the workitems if the query is saved.

[2015-09-11 06:29] dixudx opened #51 "using filter to improve the performance of getting one single resource from lots of paged resources"
Now when getting one single resource (e.g. Member, SavedQuery, etc) from lots of paged resources, the method needs to iterate over a long list/array, where most of the instances are useless. It is time-consuming.

So actually there is no need to create, save and iterate over such instances.

Adding a filter after fetching the pages will directly wipe out these redundant information.

[2015-09-11 09:14] dixudx commented on #51
performance improvement with [this commit](https://github.com/dixudx/rtcclient/commit/3cc9e3e2f72ea22a60787f070b478499e4a23ed2)

[2015-09-11 09:14] #51 closed

[2015-09-18 03:03] dixudx opened #53 "add methods to retrieve includedInBuilds"

[2015-09-18 03:24] dixudx opened #54 "add methods to retrieve includedInDeployment"

[2015-09-19 03:13] dixudx opened #56 "add methods to add/remove children workitems"

[2015-09-19 03:13] dixudx opened #57 "add methods to add/remove parent workitem"

[2015-09-19 03:15] dixudx commented on #57
for a certain workitem, no more than one parent workitem can be added and specified

[2015-09-23 06:08] dixudx commented on #53
implement this feature with this [pull request](https://github.com/dixudx/rtcclient/pull/59)

[2015-09-23 06:08] #53 closed

[2015-09-23 08:57] dixudx opened #60 "add methods to get children/parent workitems"

[2015-09-23 09:36] dixudx commented on #60
implement with [this pull request](https://github.com/dixudx/rtcclient/pull/61)

[2015-09-23 09:36] #60 closed

[2015-09-24 14:30] dixudx opened #62 "add method to get the changesets list"

[2015-09-25 06:54] dixudx commented on #62
implement this feature with [commit](https://github.com/dixudx/rtcclient/commit/59adeba49cefd426370fdb5696badb6f64af7d21)

[2015-09-25 06:54] #62 closed

[2015-09-25 10:06] dixudx commented on #57
partially implement this feature.

now adding a parent workitem works with [this commit](https://github.com/dixudx/rtcclient/commit/f397ecdcd7f994b0246c047ca6c6496856dfe1a5)

[2015-09-25 10:07] dixudx commented on #56
partially implement this feature.

now adding children workitems works with [this commit](https://github.com/dixudx/rtcclient/commit/a41ba9ae0c46e821d8bbce4a5f75b291d0e18c91)

[2015-10-08 05:25] dixudx commented on #56
fully implement this feature with [this commit](https://github.com/dixudx/rtcclient/commit/dcd6df7c693d6c692329d3de9deb68bbd6f1230b), which has been merged to master branch with [this pull request](https://github.com/dixudx/rtcclient/pull/65).

will be published in the next version.

[2015-10-08 05:25] #56 closed

[2015-10-08 05:28] dixudx commented on #57
now removing the parent workitem works with [this commit](https://github.com/dixudx/rtcclient/commit/9c6c27c407b3a387bda5e5b0caa33adba046fdf7), which has been merged to master branch with pull request #65

fully implement this feature.

[2015-10-08 05:28] #57 closed

[2015-11-23 09:46] nsc-deb opened #68 "Authentication requires no forwarding and different cookie handling (on my RTC installation)"
When testing the _rtcclient_ library against an RTC 5.0.2 installation I have access to I noticed that I needed to disable automatic forward handling and to keep track on more cookies in order to be able to authenticate correctly.

Following the previous private mails I disabled http requests in `_get_headers` (even though only the first two seem to be neccessary) and still get errors:

      File

[2015-11-23 10:01] dixudx commented on #68
@nsc-deb Is your  RTC server deployed in a reverse proxy server?

The set-cookie in your first GET method in line 69 and line77 seems quite weird

[2015-11-23 10:10] dixudx commented on #68
@nsc-deb I will test again when disabling allow_redirects and found it out whether it behaved the same in my RTC environment.

[2015-11-23 10:23] dixudx commented on #68
@nsc-deb I've tested *allow_redirects=False* against my rtcclient, where it works the same as *allow_redirects=True*, including the data format of *set-cookie* (the actual data is slightly different)

Can you provide the client log (enable debug log mode) in detail ?

[2015-11-23 11:58] nsc-deb commented on #68
In general there is proxy server setup in our network, but I have no
clue how the RTC server is deployed (I do have only user level access).

[2015-11-23 12:01] nsc-deb commented on #68
As requested: tested with *allow_redirects=False*, with and without
modified cookie handling.

2015-11-23 12:51:48,136 DEBUG client.RTCClient: Get response from https://rtc.local/ccm/authenticated/identity
2015-11-23 12:51:48,138 INFO requests.packages.urllib3.connectionpool: Starting new HTTPS connection (1): rtc.local
/usr/lib/python2.7/dist-packages/urllib3/connectionpool.py:791: InsecureReques

[2015-11-23 12:06] nsc-deb commented on #68
Sorry for the last comment; I hoped that mail2github handles text attachments more beautiful...

[authentication-failure--disabled-forwarding--default-cookie-handling.txt](https://github.com/dixudx/rtcclient/files/41534/authentication-failure--disabled-forwarding--default-cookie-handling.txt)
[authentication-failure--disabled-forwarding--modified-cookie-handling.txt](https://github.com/dixudx/rtcc

[2015-11-23 12:07] dixudx commented on #68
@nsc-deb your RTC Server's url is https://rtc.local/ccm ? The default port of RTC Server is 9443. I guess your reverse proxy server redirects to port 80. So the your correct RTC servers's url is https://rtc.local.

[2015-11-23 12:07] dixudx commented on #68
You can use markdown to quote your logs and codes.

[2015-11-23 12:16] nsc-deb commented on #68
The Jazz login scheme is visible at [https://rtc.local/ccm](), at [https://rtc.local/]() are also some other IBM things installed and if I use this URL I get:

    Traceback (most recent call last):
      File "get_workitem.py", line 28, in <module>
        myclient = RTCClient(url, username, password)
      File "/home/nsc/rtcclient/rtcclient/client.py", line 52, in __init__
        self.headers

[2015-11-23 12:20] dixudx commented on #68
From your logs

[code]

and

[code]

Both the first GET requests failed.

The status code 302 means the requested resource resides temporarily under a different URI.

[2015-11-23 12:30] dixudx commented on #68
You are right!  The correct Jazz login scheme is at <https://rtc.local/ccm> in your RTC environment.

I seem to get a clue.

@nsc-deb try to visit <https://rtc.local/jazz/authenticated/identity>, see what you get. Suggest you open this link in a private window/tab (aka Going incognito in Chrome) to avoid using your previous web cookies. Can you see the Jazz login scheme ?

[2015-11-23 12:38] nsc-deb commented on #68
At [https://rtc.local/jazz/authenticated/identity]() I get:

	Not Found

	The requested URL /jazz/authenticated/identity was not found on this server.
	IBM_HTTP_Server at rtc.local Port 443

whereas [https://rtc.local/ccm/authenticated/identity]() redirects my browser
to [https://rtc.local/ccm/auth/authrequired]() and the login scheme.

[2015-11-23 13:01] dixudx commented on #68
Port 443? What does this port do? Try to access <https://rtc.local:443/jazz/authenticated/identity> and <https://rtc.local:9443/jazz/authenticated/identity>

Moreover, with your added cookie, the requests afterwards do return 200. But it still quite annoy me how it works for using the previous bad GET and POST requests' `set-cookie`.

[2015-11-23 13:05] dixudx commented on #68
And your solution do no harm to my client. It still works for my Jazz environment.

One more thing, when you set `allow_redirects=True` or leave it to default value `True` and enable your added cookie, can you still get the resources as well ?

[2015-11-23 13:26] nsc-deb commented on #68
Port 443 is the default HTTPS port, thus when I access [https://rtc.local:443/jazz/authenticated/identity]() I get the same error as mentioned above.  Visiting [https://rtc.local:9443/jazz/authenticated/identity]() results in:

    Error 404: com.ibm.ws.webcontainer.servlet.exception.NoTargetForURIException: No target servlet configured for uri: /jazz/authenticated/identity

While [https://rtc.loc

[2015-11-23 13:30] dixudx commented on #68
So here I suggest you use <https://rtc.local:9443/ccm> instead of <https://rtc.local/ccm> as the rtc server url without any other code modifications (including `set-cookie`). And see what happened. This rtcclient should works well this time.

[2015-11-23 13:37] nsc-deb commented on #68
OK.  I checked-out original 0.4.0 and use [https://rtc.local:9443/ccm]() and get:

    2015-11-23 14:36:30,647 DEBUG client.RTCClient: Get response from https://rtc.local:9443/ccm/authenticated/identity
    2015-11-23 14:36:30,649 INFO requests.packages.urllib3.connectionpool: Starting new HTTPS connection (1): rtc.local
    /usr/lib/python2.7/dist-packages/urllib3/connectionpool.py:791: InsecureR

[2015-11-23 13:45] dixudx commented on #68
Now this time, the first GET request returned `200` instead of `302`. Still **bad POST** request.

hmm....Anyway, you have already found out a way to solve this problem against your Jazz environment.

So would you please update your patches here and it would be better to diff them. And others can apply your patches to the rtcclient if they have met the same Jazz RTC server problems as yours.

Than

[2015-11-24 07:49] nsc-deb commented on #68
Here are my two and a half patches, based on tag 0.4.0:

1. Disabling HTTP redirects during authorisation
    [0001-disable-HTTP-redirects-during-authorisation.patch.txt](https://github.com/dixudx/rtcclient/files/42460/0001-disable-HTTP-redirects-during-authorisation.patch.txt)

2. Modified cookie handling
    * For my site, this version (0002a) is sufficient:
      [0002a-remember-other-cookies-s

[2015-11-24 08:07] dixudx commented on #68
@nsc-deb Thanks for your contribution.

For patchset 1, I will add an optional parameter `allow_redirects` to specify whether or not to redirect the url in the next release. One more question here, do you have to disable all the request redirects on other methods of this rtcclient ? such as `RTCClient.getProjectArea`, `RTCClient.getWorkitem` and etc.

For patchset 2, it does no harm to the current

[2015-11-24 08:12] nsc-deb commented on #68
I need to disable redirects only during authentication.  Especially `getProjectArea` and `getWorkitem` work w/o any further changes (and more I haven't tested yet).

[2015-11-30 05:43] dixudx commented on #68
* fix this issue and build the patchsets into new lease 0.5.0
* you can install & update this client using `pip`: `pip install -U rtcclient`

[2015-11-30 05:43] #68 closed

[2015-12-14 07:15] jianzj opened #70 "No Authentication Exception Raised and Client Session Expired"
During my experiment, I just found one issue,
1) I found when I entered a wrong password, actually it does not raise an Authentication failed exception , but a TypeError, maybe this should be changed.

2) Another is about if could add a new feature to decide is a client session is available or not, or reload this client session when it is unavailable.

[2015-12-16 09:38] dixudx commented on #70
@jianzj I've already fix the session expiration. Will take further steps to test this patchset.

You can also test this patchset against your Jazz/RTC environment if you would like. I really appreciate that.

Thanks for your efforts.

[2015-12-18 05:21] dixudx commented on #70
* close this issue with above fixing commits;
* implemented new feature on client session expiration;

[2015-12-18 05:21] #70 closed

[2016-03-03 14:23] ravir4 opened #71 "How do I query RTC work items with a time range?"
I am trying to use the RTC python API ( https://pypi.python.org/pypi/rtcclient/0.2.0 ) to query workitems that have been created within a certain time frame (i.e between July 1 and Jan 1).

I am using the queryWorkitems call  and the  property dc:created to do that but not having much luck with the format / syntax for a range.

This is what I am trying to do and it fails with a - TypeError: 'NoneT

[2016-03-03 14:48] dixudx commented on #71
1. Now the latest version of rtcclient is [0.5.0](https://pypi.python.org/pypi/rtcclient/0.5.0). I think you can update to 0.5.0 and have another try;

[code]

2. A little confused on the query_string type, which you got was actually a tuple, not a string;

3. Could you provide some more detailed logs, so that I can figure out some clues;

4. For the query syntax, you can refer to [query_syntax](h

[2016-03-03 15:01] dixudx commented on #71
Another question here

have you ever queried these work items with your above filters on your jazz web page ? any results ?

[2016-03-03 15:33] ravir4 commented on #71
Thank you for your response. Yes i did a query and I didn't have any hits for the time range, hence the decision to post.

I had updated to your latest version.

Finally figured out the solution - it was the date format

I was using the format in your example query string but if I switch it to YYYY-MM-DD it works fine. So this one works (atleast it moved past the error and still running)

query_st

[2016-03-04 02:00] dixudx commented on #71
Good job. Thanks for your investigation and solution.

The time format (`YYYY-MM-DD`, `MM-DD-YYYY`, or etc) may differ per system, which may relates to the settings(preferences), versions of RTC server and etc. And the format can be acquired from the detailed information by getting a specific workitem.

[2016-03-04 02:00] #71 closed

[2016-03-16 13:57] sglebs opened #72 "Please add support to fetch Changes in a ChangeSet"
First of all, thanks for the library!

I need to traverse the changes in a ChangeSet, much like http://stackoverflow.com/questions/24628644/how-to-get-changesetall-files-changes-from-iworkitem-item-by-program

I presume that, just like the getChangeSets in WorkItem, I need to add a getChanges method in class ChangeSet ? I presume the class Changes also needs to be created?

Thanks!

[2016-03-16 14:18] dixudx commented on #72
Thanks for using this library.

I did intend to implement such method (getting a list of file names that the changeset contains) when writing this library. But I did not find a good scenario for using this method, which seemed to be useless. Thanks for pushing me forward.

Now I wanna know you want just the filenames or the actual files.

I really appreciate that you would join me together to impl

[2016-03-16 14:31] sglebs commented on #72
I want to run metrics BEFORE and AFTER on files that were touched, and feed that into a metrics panel of ours (mobile app). This way we can see, for example, if McCabe went up and by how much in the files that were touched.

So, my actual need is to go from the work item to the changeset, and for each change in the changesets  get the files and get a reference to the "just-before" and "just-after"

[2016-03-16 14:37] dixudx commented on #72
Sounds like `git diff` and `patch`, right ?

[2016-03-16 15:31] sglebs commented on #72
Yeah, something like that. Before, After, delta-metrics on them.

[2016-03-18 07:26] dixudx commented on #72
Hi @sglebs ,

Please checkout the newest code (`git checkout -b development https://github.com/dixudx/rtcclient`) to your site-packages (or a folder your Python can find).

Below is a sample code. You can have a try.

[code]

[2016-03-18 10:58] sglebs commented on #72
Thanks, I will give it a try. I changed my requirements.txt like so:
[code]
but I am getting an error:

[code]
I am trying to get it fixed first.

[2016-03-18 11:48] dixudx commented on #72
This seems to be the installation error that not relates to rtcclient.

That usually happens because of weak internet connection i.e; loss of internet connection during installation redo the command and it should work fine.

[2016-03-18 11:52] dixudx commented on #72
Also you may consider change the default pypi index sever

[2016-03-18 14:03] sglebs commented on #72
It was a network maintenance problem. It was fixed and the code worked, take a look: https://github.com/sglebs/rtcdelta/blob/master/rtcdelta.py

Thanks!

I see one potential source of problems. In java I could have 2 files:

1.  com/foo/Pixel.java
2.  com/bar/Pixel.java

If both files are touched (in the changes), when I get them via your fetchBeforeStateFile API I need the namespace to be preserv

[2016-03-18 15:20] dixudx commented on #72
You mean the put these two new created files into a single changeset. And there will be 2 changes in this  changeset. From the changes, you can check out these two files to the specified file folders.

Now the question you met was that you cannot get the relative file path, only the checkout file names.

Actually I've met such a problem when implementing this feature. But still trying to figure it

[2016-03-21 12:11] sglebs commented on #72
Yes, I mean one single changes having 2 files changed, where these files have different fully qqualified names (full paths) but same simple names. Example: com/foo/Pixel.java and com/bar/Pixel.java . The fully qualified names are different but the simple names are the same (Pixel.java).

In languages like Delphi/Pascal, it won't be the namespace but the original directory subtree. Example: src/cor

[2016-03-22 02:44] dixudx commented on #72
I don't know. Still searching methods and apis that can help implementing this problem.

If you find a good solution, you can submit the codes here by submitting a PR.

Thanks for your efforts.

[2016-03-23 05:49] dixudx commented on #72
@sglebs I tried several ways to get the full/relative file path, but no results.

![image](https://cloud.githubusercontent.com/assets/5449021/13976643/c131dc92-f0fc-11e5-91ec-32980c496327.png)

From the above webpage, only filenames are given/displayed. And I use Firebug and find nothing useful for this problem.

Currently we have to stop here until we can find other ways to solve this.

[2016-03-28 13:35] sglebs commented on #72
Is it possible to go from the change to the file entity itself and then ask the file object itself for its relative path?

[2016-03-29 07:32] dixudx commented on #72
Didn't find a way to get there. I've already tried before.

[2016-05-23 03:14] leejian0612 opened #73 "Unable to create work item due to posting to wrong url"
seems the slash before "/oslc/contexts" should be ignored.
https://github.com/dixudx/rtcclient/blame/542feccec23ff7afeb24406ec6e56dc82792f025/rtcclient/client.py#L1049

[2016-05-23 03:24] dixudx commented on #73
@leejian0612 You're right. Thanks for pointing this out. Already fix it.

[2016-05-23 03:24] #73 closed

[2016-05-23 07:58] leejian0612 opened #74 "Check condition for missing params seems wrong"
when missing_attributes is "[]", the check condition will return true, and will output

so seems we need to change it to

[code]
https://github.com/dixudx/rtcclient/blob/master/rtcclient/client.py#L1154

[2016-05-23 08:02] dixudx commented on #74
How come `missing_attributes` is `[]`? Can you elaborate it with some real data (remove the confidential parts)?

[2016-05-23 08:16] leejian0612 commented on #74
This is the template,  I used to create item,
<oslc_cm:ChangeRequest xmlns:oslc_cm="http://open-services.net/xmlns/cm/1.0/" xmlns:calm="http://jazz.net/xmlns/prod/jazz/calm/1.0/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:dc="http://purl.org/dc/terms/" xmlns:oslc_pl="http://open-services.net/ns/pl#" xmlns:rtc_cm="http://jazz.net/xmlns/prod/jazz/rtc/cm/1.0/">
        <rtc_cm:file

[2016-05-23 08:43] dixudx commented on #74
Gotcha.

[code]

when `input_attributes` gets all the needed attributes that defined in `parameters`, `missing_attributes` will be `set([])`. Under this circumstance, `not missing_attributes` is `True` instead of `False`.

[2016-05-23 08:46] dixudx commented on #74
@leejian0612 check out the development branch and have another try. Sorry for this bug.

[2016-05-23 08:50] leejian0612 commented on #74
@dixudx thanks for your quick update, and the fix works for me now!

[2016-05-23 08:52] #74 closed

[2016-08-25 09:22] lioramilbaum opened #75 "Does it support RTC 6.0+?"

[2016-08-25 09:27] dixudx commented on #75
Actually I have not run fully tests. But I have tested that most of the methods work quite well on RTC 6.0+.

You can have another try.

[2016-08-30 02:12] dixudx commented on #75
@lioramilbaum any issues encountered ?

[2016-08-30 08:03] lioramilbaum commented on #75
Didn't try it yet.

[2016-08-30 08:03] #75 closed

[2016-08-30 08:06] dixudx commented on #75
@lioramilbaum Feel free to reopen it. Thanks.

[2016-09-28 07:14] edeuser opened #78 "It's better to add http-proxy feature"
Hi,
Is that possible to add http-proxy feature ? Since in some senario this is really necessary.

Thank you.

[2016-09-28 09:00] dixudx commented on #78
@edeuser I've already enabled proxy feature, supporting both http/https and socks based proxy.

Would you please run another tests against this new feature ? I want to make sure that all works well on your environment.

[2016-10-07 14:54] durera opened #80 "How do I determine the string to use in a search by state?"
If I look at the resource definition of one of the workitem I can want to find in a search by state I can see the state is:

`<rtc_cm:state rdf:resource="https://HOST:PORT/ccm/oslc/workflows/_QkWKkBrqEeOPqO0PvYSycg/states/com.ibm.team.workitem.defectWorkflow/3"/>`

In the documentation it states that to search by state you should do something like:

`query_str = ('dc:type="defect" and ''rtc_cm:sta

[2016-10-07 16:04] dixudx commented on #80
@durera

You can try to follow below script.

[code]

Now you've got all the available states of this workitem. And then try to filter/loop over the list `wk_all_states` and find the state whose url (`wk_state.url`) is `https://HOST:PORT/ccm/oslc/workflows/_QkWKkBrqEeOPqO0PvYSycg/states/com.ibm.team.workitem.defectWorkflow/3`

[code]

`target_state.identifier` is what you want.

[2016-10-11 14:38] durera commented on #80
Excellent, that did the trick ... it was painfully simple in the end .. the value i needed was simply `rtc_cm:state="3"`, I was tripping myself up trying to form something in the form "x.state.y" based on the example and never even tried the blindingly obvious option here :)

[2016-10-11 15:17] dixudx commented on #80
@durera So glad that the problem is solved.

Closed.

[2016-10-11 15:17] #80 closed

[2016-10-12 02:13] dixudx commented on #78
@edeuser Any good news?

[2016-10-14 09:50] durera opened #81 "Ability to manage members in project/team area?"
Looking at the project_area.py code, unless I'm mistaken there is only read access to the members list via this library right now?  I'm interested in the possibility of automating the management of project/team members, I was wondering if this is something you had already looked at/considered the faesability of?

[2016-10-14 13:30] dixudx commented on #81
Yes. Currently the library only support get the members.

@durera Good suggestion. I've not investigated this. But I think it is not difficult to implement. New method `addMember()`, `deleteMember()` and etc will be added.

Also you are welcome to submit your PR.

[2016-10-18 02:48] dixudx opened #82 "Add Command Line Tools"
Currently this library does not provide any CLIs to interactive with RTC.

This new feature will greatly benefit the usage.

[2017-01-31 22:18] durera commented on #81
Looking at the oslc APIs I'm not sure how this can be done ... to add a member you need to provide a user ID and one or more role IDs for that user to have in the project/team area, but the API being used (/oslc/projectareas/$ID/rtc_cm:members) only seems to handle the users and not cover the roles at all.

Have you have any thoughts on how to make this work/if it's even possible? I'm happy to hel

[2017-02-04 05:03] dixudx commented on #81
@durera Sorry for the late reply. You are right. To add a member in a project area, a `user id` and several `role ids` are needed. And this is exactly what the web ui does.

After investigating oslc apis, I think we have to split this action into two parts:

1. just add a member using `user id`;
2. do role assignments to that user;

[2017-02-04 05:11] dixudx commented on #81
@durera If you navigate to the `History` panel of a specific project area, you will see the action to add a member is split into two parts as well.

[code]

[2017-03-09 14:51] Karthik9479 opened #83 "Please add provision to get root categories from a project area"
Hi,

The method `RTCClient.getFiledAgainsts()` provides a list of class which supports only `title`.

It would be useful to get only the root categories (depth=0) from a project area.

Thank you,

[2017-03-10 02:33] dixudx commented on #83
Thanks for using this library.

1. The method `getFiledAgainsts()` will return a list of `rtcclient.models.FiledAgainst` objects, where you can aceess `someFiledAgainst.title`, `someFiledAgainst.hierarchicalName`, `someFiledAgainst.depth` and etc. Such alias can be retrieved by accessing `someFiledAgainst.field_alias`

2. For `FiledAgainst` with `depth=0`, you can just run
[code]

[2017-03-10 02:39] #78 closed

[2017-03-10 12:55] Karthik9479 commented on #83
Thanks @dixudx for this, Works fine as requested.

I was looking at the code and the getFiledAgainsts() was returning list of type rtcclient.models.FiledAgainst.

In the models.py, it was returning the `self.title` and wasn't sure what other properties were returned. I will dig into the code more or try printing it out.

Thanks again for this great framework.

[2017-03-10 12:55] #83 closed

[2017-05-10 09:05] Feva opened #84 "Please add support for attachments"
First of all the library is excellent! Have been wanting something like this for a while.

I would like the ability to add, read and remove attachments. We add files to work items which I would like to add via a Python application I have been writing. The web interface I use is fine but I have an application that links to our ERP system for producing bespoke quotations. We will be using works item

[2017-05-15 08:33] dixudx commented on #84
@Feva I've already implemented this feature, supporting [addAttachment](http://rtcclient.readthedocs.io/en/development/workitem.html#rtcclient.workitem.Workitem.addAttachment) and [getAttachments](http://rtcclient.readthedocs.io/en/development/workitem.html#rtcclient.workitem.Workitem.getAttachments). Please try it. Thanks in advance.

[2017-05-15 09:37] Feva commented on #84
@dixudx Thanks for this. Still a bit new to this so how do I install this now?
I originally used the "pip" command to install this but as this is a development branch in git I am unsure how to get this.
I have tried to clone the git repo, checked out the development branch and then "python setup.py install" but get an error message:

C:\Temp\tmp\rtcclient>python setup.py
ERROR:root:Error parsing
T

[2017-05-15 09:47] dixudx commented on #84
@Feva It seems that you're installing using *tarball* instead of *git repo*. I've invoked [`pbr=True`](https://github.com/dixudx/rtcclient/blob/master/setup.py#L21). And this is why this exception occurs.

For installing and using this new feature, please clone the `development` branch,

[code]

After we've fully tested this feature, I will merge into master branch and package this library. Then y

[2017-05-15 10:38] Feva commented on #84
Sorry, tried that, still get an error:

C:\Temp\tmp\new>git clone -b development https://github.com/dixudx/rtcclient
Cloning into 'rtcclient'...
remote: Counting objects: 1285, done.
Receivi Total 1285 (delta 0), reused 0 (delta 0), pack-reused 1285R
Receiving objects: 100% (1285/1285), 263.43 KiB | 0 bytes/s, done.
Resolving deltas: 100% (867/867), done.

C:\Temp\tmp\new>cd rtcclient

C:\Temp\tmp

[2017-05-15 11:51] Feva commented on #84
@dixudx I have managed to install this by copying the PKG-INFO file (changed the internal Version number to 0.5.1 for the egg generation).
Looks good. I can get an Attachment object.

I would like to be able to download the actual file associated to that attachment as well. A bit like the changesets change object you have done. Would that be possible?

[2017-05-15 14:52] dixudx commented on #84
@Feva Great. If you have already get an `Attachment` object, you can get the attachment url by visiting `attachment_obj.content`. The actual attachment file can by successfully downloaded through this url.

[2017-05-15 15:09] Feva commented on #84
@dixudx I'll give that a go.

It would be nice to have a helper method built in to do this, similar to the Change._fetchFile code which appears directly above the Attachment class in the models.py file. Or is that just needs from special cases where multiple files are referenced?

[2017-05-16 02:44] dixudx commented on #84
@Feva Sorry for missing downloading method. Already added in [commit 6f4d4712](https://github.com/dixudx/rtcclient/commit/6f4d4712a983a0e91ee0f2c7346dbbd56f678c48#diff-a527ecb8834aedcb695e7bbbcd4b9752R326). Thanks for your reminding.

[2017-05-16 08:30] Feva commented on #84
@dixudx Thanks for this. It sort of works in that it knows your are requesting a file. However, not sure how our system has been configured as the content returned is an XML response message regarding safeguards against malicious websites.

Is this a configuration of our RTC system or something you need to know about?

 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml1

[2017-05-16 08:58] wang850228803 commented on #73
This fix is still not merged to the code. Is the code still in maintenance?

[2017-05-16 12:11] dixudx commented on #73
@wang850228803 Will merge into master branch later and release to `0.6.0`. [Visit milestone 0.6.0](https://github.com/dixudx/rtcclient/milestone/6) for more information.

Currently you can patch this fix by checking out `development` branch.

Thanks for using this library. Sorry for the inconvenience.

[2017-05-16 12:49] dixudx commented on #84
@Feva However it works well in my environment.

* Would you mind to download the file from  `attachment_obj.url` or `attachment_obj.content` (by [modifing rtcclient/models.py#L335](https://github.com/dixudx/rtcclient/blob/development/rtcclient/models.py#L335))?

* Or try to add a new param `allow_redirects=True` for `requests.get(...)`

[2017-05-16 13:00] Feva commented on #84
@dixudx I don't really mind how it's done. Just would like to be able to download the attachment.
I have read a few places on the internet where they say it's not possible. So if you can do this it would be brilliant.

I noticed that if you manually run the content URL you get the message in the browser with a link to click. Click that and it gets saved but under a random named file. If you have l

[2017-05-16 14:33] dixudx commented on #84
@Feva When you've got an `attachment_obj`, you can get the file name by visiting `attachment_obj.title`.

I cannot visit your environment, so I need your help to identify the reasons. What I really mean is that you should try below attempts,

1. When you've got an `attachment_obj`, please print out `attachment_obj.url` and `attachment_obj.content`, and compare this two urls that which one works;

[2017-05-16 14:37] dixudx commented on #84
@Feva Actually it is not strange at all. When you logged out the system, related cookies disappeared. That's why you are prompted to log in again.

For testing, you just need to login the system once and do not log out. Then you visit those downloading urls to see which one works.

[2017-05-16 15:17] Feva commented on #84
@dixudx OK, here we are:

URL: http://rtc/ccm/resource/itemOid/com.ibm.team.workitem.Attachment/_txBUizCkEeepA7Vl_9LA0Q
CONTENT: http://rtc/ccm/resource/content/_tw3jgDCkEeepA7Vl_9LA0Q

They are different.

Enter the URL into a web browser and you get prompted to save the file as the correct filename.
Enter the CONTENT into a web browser and you get the page about malicious web stuff.

Change line

[2017-05-16 15:45] dixudx commented on #84
@Feva The url of `attachment_obj.content` *http://rtc/ccm/resource/content/_tw3jgDCkEeepA7Vl_9LA0Q* is exactly the same with

[code]

Which means `attachment_obj.content` is the right url for downloading.

One noticeable thing is `dc:format`. The format you're using is `application/vnd.openxmlformats-officedocument.wordprocessingml.document`. However what I am testing against is `application/octet

[2017-05-17 03:29] dixudx commented on #84
@Feva Yes, you're right. It seems impossible to directly download the file through url. And this has nothing to do with *headers* or *file format*. Sorry for misleading you.

I guess this is caused by **htaccess**, which prevents downloading directly.

But uploading attachments still work.

[2017-05-17 08:03] Feva commented on #84
@dixudx I think we have come to the same conclusion.
I can download the file via the webbrowser.open(attachment.url) so I have a means of getting the data.
To auto download would appear to be a big issue.
At this stage I think this can be left until IBM add functionality for this in the REST API.
Are you going to remove the download method from the Attachment class?

[2017-05-17 08:08] dixudx commented on #84
@Feva Yeah, currently we have no other better ways.

I've already removed method `downloadFile` from `Attachment` class.

[2017-05-17 09:18] Feva commented on #84
@dixudx Thanks for doing the work so far. I will start using this when I have free time at work.

[2017-05-18 02:27] #84 closed

[2017-05-18 02:28] #72 closed

[2017-05-18 05:43] dixudx commented on #73
@wang850228803 Already released `0.6.0`. You can install directly by `pip install -U rtcclient`

[2017-05-18 05:43] dixudx commented on #84
@Feva Already released `0.6.0`. You can install directly by `pip install -U rtcclient`. Thanks.

[2017-05-24 10:07] wang850228803 opened #86 "'RTCClient' object has no attribute 'getFiledagainst'"
When the keyword is 'filedAgainst', 'keyword_cls' value will be 'self.getFiled**a**gainst'. But 'self.getFiled**A**gainst' is expected.
[https://github.com/dixudx/rtcclient/blame/master/rtcclient/client.py#L1157](url)

[2017-05-24 14:32] dixudx commented on #86
@wang850228803 Yes, you're right. `keyword.capitalize()` did not behave as what I expected. Will fix it later.

[2017-05-25 06:44] dixudx commented on #86
@wang850228803 Please try this patchset on your environment.

[2017-05-25 10:13] Feva commented on #7
@dixudx  Is there an update facility available?

[2017-05-25 10:19] Feva opened #87 "Workitem creation"
I have tried many ways but have not found how to create a workitem.
I have used a template, copy from inside the createWorkitem and copyWorkitem.
All appear to generate an error.
I either get a 500 error or 404 (stating it cannot find the work item type I am trying to create)

Doe this work?
Could you please provide and example which I can work from?

[2017-05-25 13:59] dixudx commented on #87
@Feva Of course, it works. We've already tested against many times. For detailed api doc, please refer to [client doc](http://rtcclient.readthedocs.io/en/latest/client.html).

[code]

The method `createWorkitem` supports many parameters, you can visit the doc for detailed explanations.

In order to quickly identify the root cause, please enable logging by using `setup_basic_logging()`. You can mod

[2017-05-26 02:54] dixudx commented on #7
@Feva Currently we can perform some actions on the retrieved Workitems, including get/add Comments, get/add/remove Subscribers/Children/Parent, get/upload Attachments and etc;

[2017-05-26 08:30] Feva commented on #7
@dixudx It was more like the status, description/subject, duedate and other fields.

[2017-05-26 08:31] Feva commented on #87
@dixudx I'll try and supply a generic example if my problem. I just can't get it to work.

[2017-05-26 08:34] dixudx commented on #87
@Feva Also you may need to identify the right item type in your rtc env, which may have already been modified to other values.

[2017-05-26 08:37] dixudx commented on #7
@Feva A workitem contains so many configurations. So it is not easy to be wrapped in a generic method to update the workitem.  This is why method `updateWorkitem` has been missing for a long time.

[2017-05-26 08:41] Feva commented on #87
@dixudx Code is as follows:

from rtcclient.utils import setup_basic_logging
from rtcclient.client import RTCClient

setup_basic_logging()
url = "http://exelrtc6dev/ccm"
username = "###"
password = "###"
myclient = RTCClient(url, username, password, ends_with_jazz=False, searchpath='templates')

# Created a simple 'Task' manually via web view.
# Set the summary and description.
# Left all other fi

[2017-05-26 08:42] Feva commented on #87
@dixudx Sorry, my comments have come out large in the above!

[2017-05-26 08:48] Feva commented on #87
@dixudx If I try and do a createWorkitem with the same details and 'Keep=True' passed I get a different error:

2017-05-26 09:47:44,114 INFO client.RTCClient: Start to create a new <Task> with raw data: <?xml version="1.0" encoding="UTF-8"?>
<oslc_cm:ChangeRequest xmlns:oslc_cm="http://open-services.net/xmlns/cm/1.0/" xmlns:calm="http://jazz.net/xmlns/prod/jazz/calm/1.0/" xmlns:rdf="http://www.w3.

[2017-05-26 08:49] dixudx commented on #87
@Feva Would you please paste your log in [github gist](https://gist.github.com/) where we can easily track that.

[2017-05-26 08:56] Feva commented on #87
@dixudx Never used that. Is the below correct?

https://gist.github.com/Feva/9676234a7027dd490da830a273844f8f

[2017-05-26 11:52] Mershl opened #88 "Create Workitem - HTTP 500"
Hi dixudx,

Thanks for this project. You already helped me a lot. The last piece that is currently not working for me is creating RTC workitems.

It results in a HTTP 500 error:
[code]

Trying to access `.../shapes/workitems/task` manually results in the following. I think the OSLC format of the workitem creation is no longer supported. Is this possible?
[code]

[2017-05-26 12:25] dixudx commented on #88
@Mershl Thanks for using this library.

Probably. Which version is your rtc jazz server. Currently this library has been tested against 5.0.1, 5.0.2 and 6.0.

[2017-05-26 12:32] Mershl commented on #88
We have a RTC Jazz 6.0.2 server in use.

[2017-05-26 12:36] Feva commented on #7
@dixudx I understand. It's not that simple for some generic solution.
I haven't fully worked out what I need yet.
Creating a work item with specific data may be enough but as per issue #87 I am having problems with that.

[2017-05-26 12:37] dixudx commented on #88
@Mershl Currently I don't have such 6.0.2 environment in handy. So would you please help fix it. Thanks.

[2017-05-26 12:39] dixudx commented on #87
@Feva Have you tried the method I pasted in [your gist](https://gist.github.com/Feva/9676234a7027dd490da830a273844f8f).

[2017-05-26 12:48] Feva commented on #88
@dixudx As a side point to this and #87 we are running 6.0.3

[2017-05-26 14:23] Feva commented on #87
@dixudx I have updated it and tried it but still get a similar error message.

[2017-05-30 14:11] Mershl commented on #87
@Feva do you get a 404 or 500 HTTP error?

[2017-05-30 14:15] dixudx commented on #87
The error message for code 500 was quite short. Cannot find any more useful information. It is weird.

[2017-05-30 14:33] Mershl commented on #88
I've tested some fixes but couldn't successfully create a workitem with 6.0.2 yet. This is the complete log with an unmodified rtcclient: https://gist.github.com/Mershl/1f70e294e107f67238bef45897a7684d

[2017-05-30 14:40] dixudx commented on #88
@Mershl Thx. I will take a closer look. Sorry for the inconveniences.

[2017-05-30 15:21] Feva commented on #87
@dixudx For the create one it was a 404 error:

requests.exceptions.HTTPError: 404 Client Error: Not Found for url: http://exelrtc6dev/ccm/oslc/types/_p017cM-1EeO2IM9bCWjODg/workitems/task

[2017-05-31 09:44] Mershl commented on #88
Adding
[code]
to L#1119 in [rtcclient/client.py].
Results in two outcomes:
1) HTTP 500, showing a unset expire date in the cookie:
```WASReqURL=""; Expires=Thu, 01-Dec-94 16:00:00 GMT; <...>```

2) HTTP 403, showing missing attribute 'Summary':
[code]
Out of 6 consecutive runs. 4 result in expired cookie and 2 in missing attribute.

[2017-05-31 09:49] dixudx commented on #88
@Mershl Great! Good progress.

I think

[code]

is the key that matters. From your past log, `oslc-core-version` 1.0 is not supported any more in 6.0.3.

We can try to add a new attribute `Summary` when posting a new workitem.

[2017-05-31 09:52] Mershl commented on #88
Removing the modification of `Content-Type` results in
[code]

[2017-05-31 09:55] dixudx commented on #88
@Mershl Thanks for your work. It helps me a lot.

Seems `headers['Accept'] = 'application/rdf+xml'` is also indispensable.

Can you successfully create a new workitem when appending a new attribute `Summary`.

[2017-05-31 11:07] Mershl commented on #88
I use the template of a existing work item on the server. The template does not offer a `Summary` attribute (which is weird, as it is required), in which case the Summary argument inside kwargs of [createWorkitem](http://rtcclient.readthedocs.io/en/latest/client.html#rtcclient.client.RTCClient.createWorkitem) is ignored. How would you add an attribute to an existing template?

[2017-05-31 11:32] Mershl commented on #88
Based on the spec there is no Summary attribute: [OSLC Spec](http://open-services.net/wiki/change-management/Vocab-V3/).

[2017-05-31 11:45] Mershl commented on #88
I think the problem lies within the XML header attributes.
Currently:
[code]

[2017-05-31 12:18] dixudx commented on #88
@Mershl Actually the `Summary` comes from `dc:title`.

[2017-05-31 12:21] Mershl commented on #88
@dixudx Yeah, you're right. But `dc:title` is specified in the POST request.
[code]

[2017-05-31 13:55] dixudx commented on #88
Yes, it's quite weird. It works well on my previous environment and has been fully tested.

I wonder whether the oslc version does the trick.

[2017-05-31 15:09] dixudx commented on #88
@Mershl Haven't got any clues yet. Will try to find it out.

[2017-05-31 15:10] dixudx commented on #88
`403` means the request body is not accepted by the server, either the header or the attributes.

[2017-06-01 10:24] ameyyadav09 opened #89 "failed to install rtcclient with conda"
I tried
`conda install rtcclient`
but got the below error
[code]
my question is, how to add it to the channels list of anaconda.org

PS:I don't think this is a bug, it's just a missing feature I guess and due to the lack of community I have posted this here.

[2017-06-01 10:29] dixudx commented on #89
@ameyyadav09 Well, this is also the first time I met such error. I published the release package to Pypi, which will be synced to all the Pypi mirrors. But for `conda`, I think it has a different package source from Pypi. As you said, we may need to add it to anaconda.org.

[2017-06-01 10:42] ameyyadav09 commented on #89
may be we can raise an issue in [here](https://github.com/Anaconda-Platform/support/issues)

[2017-06-02 05:34] dixudx commented on #87
Closed. Duplicate to issue #88

[2017-06-02 05:34] #87 closed

[2017-06-02 05:43] dixudx commented on #88
@Mershl @Feva Please try this patch. I've already tested on my env. All works well.

**Special Note**: Please run `pip install -r requirements.txt` to install new package `lxml`.

[2017-06-02 06:07] Mershl commented on #88
@dixudx Thanks for the quick patch.

Due to the etree import from lxml the RTCClient is no longer compatible to Python 2.7.
[code]

I have to support Python 2 due to other dependencies in my project. But I've tried it with 3.5.2 showing:
[code]

[2017-06-02 06:15] dixudx commented on #88
@Mershl I've tested on 2.7.13 and 3.3.6. `lxml` works well.

[code]

[2017-06-02 06:35] dixudx commented on #88
@Mershl Yeah, on python 3.5, the runtime error did exist. Fixed in [commit 430f525](https://github.com/dixudx/rtcclient/commit/430f5255c8262c499b96924cccfa776fe84112c1).

[2017-06-02 07:12] Mershl commented on #88
I've installed the additional dependencies on Windows (*sign*) for lxml. The work item is now successfully created. Thank you very much for your support @dixudx.

[2017-06-02 07:12] #88 closed

[2017-06-02 07:43] Mershl opened #90 "Create workitem of type 'Epic' - HTTP 404"
Hi @dixudx

When trying to create a workitem with a task_type of 'Epic' the task_type will be found by `projectarea.getItemType(item_type)` but on creation it will report:
[code]
In the log it's visible as:
[code]

[2017-06-02 08:29] dixudx commented on #90
@Mershl Can you successfully create an Epic from the web UI ?

[2017-06-02 08:31] Mershl commented on #90
@dixudx Yes, just tested. Is the service url provided by the service catalog possibly wrong?

[2017-06-02 08:46] dixudx commented on #90
@Mershl Sorry, it's my mistake. This bug was involved by issue #88. Already fix that. Please have another try.

[2017-06-06 12:51] Feva commented on #88
@dixudx @Mershl Sorry, i've been away for a few days. After following this and installing the latest development code I can copy a work item from another item. However, I am still unable to create a work item.

Do you have an example python script showing how you use this please? I know server's etc will be different.

[2017-06-06 13:29] dixudx commented on #88
@Feva Please follow [this sample code](https://github.com/dixudx/rtcclient/issues/87#issuecomment-304016831)

[2017-06-06 14:19] Feva commented on #88
@dixudx Yes, I have tried that and that does not answer my question I'm afraid. I know the method to call but its the **kwargs that I want an example of.

I have tried passing all the requested arguments like this:

ownedBy = 'rjw@###.##.##'

or

setting a variable called ownedBy = myclient.getOwnedBy('rjw@###.##.##') and passing that

or

setting a variable called ownedBy = myclient.getOwnedBy('r

[2017-06-06 14:32] dixudx commented on #88
@Feva Would you please show your log and paste to [Github Gist](https://gist.github.com/)?

Actually by setting `ownedBy="someone@here.com"` should work.

[2017-06-06 15:02] Feva commented on #88
@dixudx
This is specifying the values as strings.

https://gist.github.com/Feva/ec54d7266e25b7289b79db66be5696a0

Hope this helps.

[2017-06-06 15:07] Feva commented on #88
@dixudx
This is specifying the values as objects.

https://gist.github.com/Feva/009a2ff15ec4705616b1c528f410d854

Hope this is more help.

[2017-06-06 15:07] Feva commented on #88
@dixudx
Are either of these ways correct?

[2017-06-06 15:24] dixudx commented on #88
@Feva [This](https://gist.github.com/Feva/ec54d7266e25b7289b79db66be5696a0) is the correct way.

Would you please help me fetch some data for my reference. Please make sure workitem 65868 has already been assigned to a valid user.

[code]

[2017-06-06 15:42] Feva commented on #88
@dixudx

Here you go:

https://gist.github.com/Feva/c4cc33a4b02a25bc01f676109cbb1719

[2017-06-07 01:36] dixudx commented on #88
@Feva Finally I found the root cause. From [this gist](https://gist.github.com/Feva/c4cc33a4b02a25bc01f676109cbb1719), the attribute value is

[code]

instead of `http://exelrtc6dev/jts/users/rjw%40exel.co.uk`.

That's why **invalid value** is reported when you post a new workitem.

However function `getOwnedBy` will [check the email validation](https://github.com/dixudx/rtcclient/blob/master/rtcc

[2017-06-07 09:02] Feva commented on #88
@dixudx
Thanks for this. Will you be changing this or is this just something that I need for my RTC system?

[2017-06-07 09:39] Feva commented on #88
@dixudx
Thanks for this. Working now. I used:

myclient.getOwnedBy('rjw@exel.co.uk').url.split(urlquote('@'))[0]

So as to leave the standard code alone.

Got template working as well. Notice that palnnedFor was not working but added this in the template like other resources so all fine.

[2017-06-07 09:42] dixudx commented on #88
@Feva Glad to see it works on your environment.

I would like to think out a better way to incorporate these two types (email address and username). For now,  just use that patch. Sorry for the inconveniences.

[2017-06-07 09:56] dixudx opened #91 "Supports both email address and username in function `getOwnedBy`"
Currently function `getOwnedBy` only supports *email address*. For some rtc servers, they only accept usernames instead of email addresses. Thanks @Feva for find this bug.

[2017-06-07 15:14] Feva opened #92 "Authentication not working for bad login in 6.0.3"
We are running RTC 6.0.3

If I create an RTCClient object with a bad login I do not get an exception.

In client.py inside _get_headers there is a check for authfailed. This returns None for a good or bad login and not the text tested for.

For a bad login the headers returned are:

{'Transfer-Encoding': 'chunked', 'Date': 'Wed, 07 Jun 2017 15:12:30 GMT', 'Location': 'http://rtc/ccm/auth/authfaile

[2017-06-08 01:42] dixudx commented on #92
Have you changed something? Would you kindly paste your code and detailed logs ?

[2017-06-08 03:15] dixudx commented on #92
@Feva Actually `authfailed` is handled when logging in. Refer to [client.py#L107-L111](https://github.com/dixudx/rtcclient/blob/development/rtcclient/client.py#L107-L111).

I guess in rtc *6.0.3*, the header has been changed for bad login. Would you please help log the content of `resp.headers` in [client.py#L108](https://github.com/dixudx/rtcclient/blob/development/rtcclient/client.py#L107-L111)

[2017-06-08 07:41] Feva commented on #92
@dixudx

I included the headers for good and bad in the original issue.

I have been testing with a hard coded test account. Now I was looking at creating a login prompt so tested with bad data. I did not receive an exception as expected.

As you can see from my original issue the good and bad login does not contain the "x-com-ibm-team-repository-web-auth-msg" that you are testing for.

Do you nee

[2017-06-08 07:51] dixudx commented on #92
Now that the only solution to differentiate these two headers is the attribute `Location`. If the `Location` ends up with **authfailed**, then an exception on bad login should be raised.

I was thinking if we could fetch more precise information on this, just as the old one **x-com-ibm-team-repository-web-auth-msg**.

@Feva Was that all in the headers of bad logging?

[2017-06-08 08:18] Feva commented on #92
@dixudx
Yes.

Please look at: https://gist.github.com/Feva/bc6203d5c0db0ad68be1894eb66b6c01

[2017-06-08 08:41] dixudx commented on #92
@Feva Thanks so much for your information. Try [this bug fix](https://github.com/dixudx/rtcclient/commit/58247303645d8abe491eba043ab0be2e823a6e6b).

[2017-06-08 09:24] Feva commented on #92
@dixudx
That worked thank you.

[2017-06-08 13:31] #92 closed

[2017-06-08 13:31] #86 closed

[2017-06-14 10:09] arun017 opened #93 "Error on RTCClient access."
While testing the rtcclient python library,i am coming across below error whenever i try accessing
"RTCClient" call.Could you please let me know how can i resolve this issue.

ERROR client.RTCClient: Failed GET request at <https://xxyy.com/ccm/authenticated/identity> with response:
ERROR client.RTCClient: Failed POST request at <https://xxyy.com/ccm/authenticated/j_security_check> with response:

[2017-06-14 13:35] dixudx commented on #93
@arun017 From the status code `302`, it seems that your rtc server url has been redirected.

However currently in [client.py#L79-L83](https://github.com/dixudx/rtcclient/blob/master/rtcclient/client.py#L79-L83), `_allow_redirects ` will be set to `True` only when `ends_with_jazz=True`.

So I would suggest you have a test by setting `_allow_redirects=True` (just modify *client.py*) to see what will

[2017-06-15 09:31] dixudx commented on #93
@arun017 Have you cut off the response content. I want to know more from the response content.

[2017-06-16 12:28] Mershl commented on #90
@dixudx Thanks for the update. I've cut down my implementation to a minimum working example (basically just calling createWorkitem with a type, title, description, PA and a copied_from task).
For type 'Task' and 'Epic' _createWorkitem raises Client Error 409:
[code]

[2017-06-17 09:31] dixudx commented on #90
@Mershl I retested the latest code of branch `development`. It works well on **Task** and **Epic**.

[code]

Please pull the latest code and retry.

If still the same error, please paste your sample workitem (already created successfully) xml here. We may need to compare the item type.

[2017-06-19 14:10] Mershl commented on #90
Hi @dixudx, I found the culprit. I get a
[code]
if I set `keep=False` when creating an Epic. Leaving it at `True` will create the Epic as intended.

[2017-06-19 14:14] Mershl commented on #7
+1 for the update of Description, Title and status.

[2017-06-19 14:15] dixudx commented on #90
@Mershl Glad to see it works on your environment. Good job.

Actually you should **copy from a workitem with same type**. Because different workitems tend to have different attributes, which may result in such occurrences.

[2017-06-19 14:28] Mershl commented on #90
@dixudx How long does it usually take for you to create an Epic/Task? Creating an Epic takes about 43 seconds and a Task averages at 40 seconds per creation on my two tested RTC installations.

[2017-06-19 14:31] dixudx commented on #90
@Mershl Just a few seconds. Before posting request to create new workitem, the client will try to fetch some metadata to copy into the post body, which will take several seconds.

In general, it takes about 5-6 seconds.

[2017-06-19 14:37] Mershl commented on #90
The problem is solved. Just one last question @dixudx. Have you ever tried calling Create in a thread pool. I have additional parameters that lead to a creation of ~40s. Using multithreads it should be possible to mititgate this time for 10 WorkItem creations.

[2017-06-19 14:43] Feva opened #94 "User information"
Is there a way to get a list of users without having to go through members in a project area?

I need to get the user details, ideally just for the logged on user.
Maybe something like myclient.getUser(email_address) to return a "User" object.
I wanted to get the title of the user.

[2017-06-19 15:11] dixudx commented on #90
@Mershl Good question.

Actually using multithread will bring some benefits, mainly saving time. But RTC is mainly for project managements. Time efficiency is not that significant. Also the code structure, asynchronous callings and etc will make the library complicated and error-prone.

If we want to create tens of workitems simultaneously, we can just call `createWorkitem` in `threading.Thread` i

[2017-06-20 11:34] Mershl opened #95 "addChild fails for newly created Workitem"
Calling
[code]
fails in `workitem.py:611` due to self.getChildren(...) (Line 610) returning `None` and `for ... in ...` raising
[code]

[2017-06-20 11:38] Mershl commented on #90
Thanks @dixudx. Using threads it's possible to create 10 (and possibily more) Workitems at a time.
[code]

[2017-06-20 11:38] #90 closed

[2017-06-20 14:28] dixudx commented on #95
@Mershl Aha, yes. It's a bug. Thanks for catching it.

[2017-06-23 12:26] #95 closed

[2017-06-23 12:30] Mershl opened #96 "XMLSyntaxError when trying to use '<' or '>' in WorkItem title or description"
Using `<` or `>` in a title or description string of a new workitem will result in
[code]
Tested on development branch.

[2017-06-23 12:55] dixudx commented on #96
@Mershl Yeah exactly. `<` is not escaped. My fault.

[2017-06-23 13:05] dixudx commented on #96
@Mershl Already fixed. Sorry for the inconveniences.

[2017-06-26 08:50] #96 closed

[2017-06-29 11:39] Shruthi-KRamesh opened #97 "Error while adding a new child to a workitem"
[code]

the code works fine until getting a workitem, and when I try to add a child to it, I get the below error.

`'NoneType' object is not iterable`

I can assure that the workitem I am willing to add as a child already exists.

[2017-06-29 11:45] ameyyadav09 commented on #97
The error is not in the addChild method of the workitem.
it's in the _addChildren method,
`cur_child_ids = [cur_child.identifier for cur_child in cur_children]`
at this line when we say `cur_child.identifier`, we will get error if cur_child is None.
This happens if the workitem doesn't have any children initially.

[2017-06-29 12:10] dixudx commented on #97
@ameyyadav09 Thanks for your PR. This bug is duplicate with #95, which has already been fixed.

[2017-06-30 09:40] Mershl opened #99 "Disable xmltodict.parse for File Contents/non-XML-responses?"
`utils.py:29` is raising an ExpatError for correct content retrieved by fetchBeforeStateFile (of a Change).

[code]

[2017-06-30 09:44] dixudx commented on #99
@Mershl I think the exception is about the token. That function in the decorator is mainly for relogin when the token gets expired.

[2017-06-30 09:47] Mershl commented on #99
@dixudx Debugging this issue shows that the parsed `resp.content` is the File Content of fetchBeforeStateFile (containing source code only), not an xml/token response.

[2017-06-30 09:54] dixudx commented on #99
@Mershl Yeah, I understand what you mean. Would you please submit a PR fixing this? Thanks.

[2017-08-02 15:37] Mershl opened #100 "OwnedBy attribute is not set if keep=True"
Hi @dixudx,

I'm currently working with the latest changes to RTCClient and I see the following behaviour. When creating a task with `keep=True` and `ownedBy="exampleUser@company.com"` the ownedBy attribute is passed to `temp.render (template.py:141)` but in the resulting raw_wi the ownedBy is set to the one of the copied_wi.

Do I misunderstand the keep attribute and this behaviour is intended?

[2017-08-02 15:45] Mershl commented on #99
@dixudx I'll try to find a lean solution for this. For now I'm skipping the check in my local project.

[2017-08-03 07:26] Mershl commented on #100
Issue closed. Saw the documentation of `rtcclient.template.Templater.getTemplate`.

[2017-08-03 07:26] #100 closed

[2017-08-03 07:54] Mershl opened #101 "PlannedFor lookup is limited to the first 1000 iterations"
Hi @dixudx,

I'm seeing the following behaviour in Jazz 6.0.3.

With an example server containing 2738 iterations the lookup of the iterations in `_getPlannedFors` will only return the first 1000 iterations and thus resulting in an error if creating an WorkItem of a newer iteration.

This happens because the first request results in:
[code]
But following the next link the totalCount has changed an

[2017-08-03 08:38] dixudx commented on #101
@Mershl This seems to be an issue of RTC, not our client.

Anyway we should have a workaround. It seems depending on the returned `totalCount` is fragile.

ISTR, RTC has some limitations on the resources count.

* [OSLC REST interface only returns 1000 entries](https://jazz.net/forum/questions/178592/oslc-rest-interface-only-returns-1000-entries);
* [How to reset the maximum workitem query result

[2017-08-03 12:51] Mershl commented on #101
@dixudx An option would be to only lookup resources that are part of the current requested projectarea.

Do you think it's possible to query for something like:
[code]
in `client.py:1341`?

[2017-08-03 13:03] Mershl commented on #101
Passing `rtc_cm:timeline/rtc_cm:projectArea="_qi848CJaEeZy9NmiE0zZ4Q"` as a parameter works as a Short-Term fix in my case reducing the amount of Iterations to ~700.

Example Request URL:
https://jazzhost.com/ccm/oslc/iterations?oslc_cm.pageSize=100&_startIndex=0&oslc_cm.query=rtc_cm%3Atimeline%2Frtc_cm%3AprojectArea%3D%22_qi848CJaEeSy9NmiE0zU4Q%22

[2017-08-03 13:57] dixudx commented on #101
@Mershl Looks good. Great.

[2017-08-03 14:02] Mershl commented on #101
@dixudx Unfortunately this does not fix all problems. With Jazz 6.0.3 on a full server the lookup on Task creation is currently showing the following output:
[code]
resulting in
[code]

[2017-08-03 14:03] dixudx commented on #101
Seems you're querying some unexisted fields.

[2017-08-03 14:08] dixudx commented on #101
@Mershl How come `rtc_cm:timeline`. I think this is unnecessary.

It's true that adding `projectArea` in the query will help solve this issue to some extent.

[2017-08-15 07:33] Mershl commented on #101
Hi @dixudx,

I've checked the official Java API Client and they provide so called "huge queries" that allow to get results bigger than 1000 items. Do you have an idea how we can solve this problem?

[2017-08-15 07:35] dixudx commented on #101
@Mershl Any detailed doc on that `huge queries`?

[2017-08-15 07:44] Mershl commented on #101
@dixudx Unfortunately no, it's just a workaround where the query is adapted (filter is stricter) to limit the number of results and concat them all together - in the end you still have x queries.

[2017-08-15 07:45] dixudx commented on #101
@Mershl Would you mind sharing the examples/workarounds? Thanks.

[2017-08-15 08:21] Mershl commented on #101
@dixudx Unfortunatly I no longer have access to the source code of this workaround. For now I use this workaround to get back to speed on my project.

(We still need to specify the query for `PlannedFor` including rtc_cm:timeline, but not for `FiledAgainst`)
[code]

[2017-08-15 08:27] dixudx commented on #101
@Mershl Seems we can only rely on `rtc_cm:projectArea` right now.

[2017-08-21 18:37] raphaelkrauss commented on #99
@Mershl For my problem, just comment # xmltodict.parse (resp.content) in utils.py. I just need to get the file name using fetchBeforeStateFile without get file, this solution works for me.

[2017-09-21 09:11] Feva commented on #7
Wondered if there was any movement on this?

[2017-09-21 09:13] Feva opened #102 "Time spent"
Is there a facility to add time spent to a work item?

We use this alot in our company and I would like to have this facility.

[2017-09-25 02:22] dixudx commented on #7
@Feva Sorry, not yet. I think @Mershl's suggestion on updating the `Description`, `Title` and `Status` is a good choice, since these fields are common and changed/updated frequently.

@Feva @Mershl Would you help implement this? Thanks.

[2017-09-25 02:26] dixudx commented on #102
@Feva Would do you mean by adding time spent to a work item?

If you want to add a new item to Workitem template, please ask your RTC admin for help.

[2017-09-25 07:56] Feva commented on #102
This isn't a workitem template. You can book time to a workitem. Timesheet entries against tasks etc. You allocate a portion of time to a task and can then book time spent on the task.

I wondered if you could provide a facility to add these times against tasks?

[2017-09-25 08:00] Feva commented on #7
I can test any code that may be created. Just as a side note I am running on Python 3.6 now from 2.7 and all appears to work fine.

Description, title, status are a start. Duedate and plannedfor are also changed a lot where I work.

[2017-09-25 09:01] dixudx commented on #102
@Feva You can modify your own template by copying [this example](https://github.com/dixudx/rtcclient/blob/master/rtcclient/templates/issue_example.template) with `<rtc_cm:timeSpent>{{ timeSpent }}</rtc_cm:timeSpent>` added. Then you can specify this template file and `timeSpent=abc` when calling `createWorkitem` to create a new workitem.

If you're going to update workitem, please refer to #7. Thi

[2017-09-25 09:10] Feva commented on #102
OK. Yes I know I could create a template with data but this is more an on going basis to add times of a period of time.

Thanks for looking into this.

[2017-12-08 21:43] kevinhe2017 opened #103 "myclient.getWorkitem( ) error"
Hello Everyone,

I'm trying to use Python rtcclient 0.6.0 and following the example code to get work items from RTC 6.0.3. The url ends with ccm and the RTC server doesn't have proxies. The url is like
https://rtc-ccm-1.int.xxxx.com:9443/ccm/web/projects/xxxx (note: some characters are substituted with xxxx for confidential reason).
 Here are part of sample code I use:

from rtcclient.utils import

[2017-12-10 03:06] kevinhe2017 commented on #103
I found that part of the cause is my url doesn't have "/oslc/workitems/". Don't know what it should be for my RTC server and project.

[2017-12-11 01:16] dixudx commented on #103
@kevinhe2017 The url should be `https://rtc-ccm-1.int.xxxx.com:9443/ccm`. Please have a try.

[2017-12-11 02:33] kevinhe2017 commented on #103
After further investigation, I found something interesting. I went to the work item "1631898" page directly using web browser then view and save the source of this page. After that, I used Python xml parser to parse the saved HTM file and I got the same "invalid token" error.
The error from rtcclient example code:
ERROR client.RTCClient: not well-formed (invalid token): line 17, column 77

The err

[2017-12-11 02:35] dixudx commented on #103
@kevinhe2017 Seems the workitem (I mean xml config page) contains non-ASCII characters.

You can create a new workitem to help confirm this. Thanks.

[2017-12-11 02:36] kevinhe2017 commented on #103
Somehow line 17 is missed in last note. It is this line:
<link type="text/css" rel="stylesheet" href="/ccm/web/_style/?include=L~&etag=BKxP74fi7YO_en_US&_proxyURL=%2Fccm&ss=L9ESh">

[2017-12-11 02:38] kevinhe2017 commented on #103
What? I can't paste that line, Wired. Let me try it again.

<link type="text/css" rel="stylesheet" href="/ccm/web/_style/?include=L~&etag=BKxP74fi7YO_en_US&_proxyURL=%2Fccm&ss=L9ESh">

[2017-12-11 02:41] kevinhe2017 commented on #103
ok, let me attach it.
[Line_17.txt](https://github.com/dixudx/rtcclient/files/1546398/Line_17.txt)

[2017-12-11 02:49] dixudx commented on #103
Please try

[code]

and add/update below lines to `getWorkitem` in L914

[code]

to see whether it works.

[2017-12-11 02:55] kevinhe2017 commented on #103
Tried to create work item and got the following error:
Traceback (most recent call last):
  File "C:/Users/vz9m4v/PycharmProjects/DFSS_Leon/Example.py", line 23, in <module>
    wk = myclient.createWorkitem(title='Test', copied_from="1631898")
TypeError: createWorkitem() takes at least 3 arguments (3 given)

[2017-12-11 02:57] kevinhe2017 commented on #103
Tried to create work item and got error:
Traceback (most recent call last):
  File "C:/Users/xxxx/PycharmProjects/xxxx/Example.py", line 23, in <module>
    wk = myclient.createWorkitem(title='Test', copied_from="1631898")
TypeError: createWorkitem() takes at least 3 arguments (3 given)

[2017-12-11 02:57] dixudx commented on #103
TypeError: createWorkitem() takes at least 3 arguments (3 given)

Please follow the usage of this method.

[2017-12-11 13:14] OHerasym opened #104 "Can I checkout source code from RTC Workspace?"
Hi all,

How can  I checkout source code from RTC Workspace? I didn't found any examples.

Thanks!

[2017-12-11 14:30] kevinhe2017 commented on #104
If I understand correctly, you want to see the source code of RTC pages which is in xml format. The pages are like the regular web pages. So you can click View on top then select Source, or just do "Ctrl+U".

[2017-12-12 00:16] kevinhe2017 commented on #103
After I installed defusedexpat package and added/updated those 2 lines, I got "ERROR client.RTCClient: global name 're' is not defined."

[2017-12-12 00:41] kevinhe2017 commented on #103
After adding "import re", still got the same error:
ERROR client.RTCClient: not well-formed (invalid token): line 17, column 77

[2017-12-12 01:58] dixudx commented on #103
@kevinhe2017 Could you try to debug and find out why the response content (the xml data) is not well-formed?

[2017-12-12 02:21] kevinhe2017 commented on #103
Di Xu, I saw someone suggested to use lxml or beautiful soup. What do you think?

[2017-12-12 02:24] dixudx commented on #103
This will introduce a big change for this library. I was thinking using `lxml` or `bs4`. But `xmltodict` is more easier to handle the xml data for processing.

I think the right way for now is to find out what causes the bug, the non-ascii characters, invalid xml and etc.

[2017-12-12 16:51] kevinhe2017 commented on #103
After using the following line to remove the "&" character, the "not well-formed (invalid token)" issue on line 17 is gone.

xml_cleaned = re.sub('[\&]', '', resp.content)

But I got a new issue, "ERROR client.RTCClient: mismatched tag: line 32, column 2". Don't know how to fix this type of issues.

[2017-12-13 02:22] dixudx commented on #103
`&` is a special character. We should not replace it .

Would you please let me know the `resp.content`.

[2017-12-13 14:19] OHerasym commented on #104
@kevinhe2017 , @dixudx , Thanks. Already resoved issue by using scmtool from Eclipse.

but why not add this functionality to this library?(by using scmtool for example)  It will be very helpful for automatization. All you need in one lib.

[2017-12-13 14:19] #104 closed

[2017-12-13 14:21] dixudx commented on #104
@OHerasym This may be a good feature IMO. Would you like to implement this? I don't have too much bandwidth for this.

Really appreciate.

[2017-12-13 14:39] kevinhe2017 commented on #103
Here is the WT #1631898 page's source which is the resp.content. The htm file is saved as txt file. Thank you!

[Work_Ticket_1631898.txt](https://github.com/dixudx/rtcclient/files/1555833/Work_Ticket_1631898.txt)

[2017-12-18 17:36] kevinhe2017 commented on #103
@dixudx Any progress?

[2017-12-19 01:58] dixudx commented on #103
Not yet. Did not get too much bandwidth on this. Sorry for that.

Will investigate it ASAP.

[2017-12-19 02:56] dixudx commented on #103
@kevinhe2017 `resp.content` seems invalid.

A valid `resp.content` should contains data like [this](https://github.com/dixudx/rtcclient/blob/master/tests/fixtures/workitems.xml).

[2017-12-19 15:23] kevinhe2017 commented on #103
I added "print resp.content" in client.py to check the response content and found it's same as the source of work item page. I'm not sure why it's not like yours. I double checked with our RTC expert and he confirmed our RTC server is NOT behind a proxy so it's not proxy related. So, does the RTC server side have to do something (like some set-up) so rtcclient can get correct response?

By the way

[2017-12-20 21:15] kevinhe2017 commented on #103
We are using RTC 6.0.3. If I understand correctly, the Python rtcclient needs to use OSLC-CM REST API. I'm not sure if we have it. How can I know if our RTC server has it? Thanks!

[2017-12-21 01:57] dixudx commented on #103
Correct.

Actually I have no idea. Seems oslc-cm rest api is already enabled after installation. You may contact your admin.

IMO if `myclient.getWorkitem("1631898")` can successfully return right data, oslc-cm is ready to use.

[2018-01-17 21:14] kevinhe2017 commented on #103
I asked some questions on Jazz community and got some help. Looks like RTC 6.0.3 has implemented the OSLC CM v2.0 specifications. According to the document https://jazz.net/library/article/1001, applications can access, modify, delete and create change requests with an HTTP-based client by using GET, PUT, DELETE and POST methods. I didn't find where rtcclient 0.6.0 uses those GET, PUT, DELETE and

[2018-01-18 06:09] dixudx commented on #103
Yes. These methods are wrapped together with `requests`.

[2018-01-18 16:15] kevinhe2017 commented on #103
After further investigation, I think I finally found something. The error is "not well-formed (invalid token): line 17, column 77" which is around "L~&etag". Looks like it's related to ETag. I'm using Python 2.7.14 which has the httplib. According to a document on web, Python’s HTTP libraries do not support ETags, but httplib2 does. I just installed httplib2, but I don't know how to use it and mer

[2018-01-19 01:55] dixudx commented on #103
@kevinhe2017 Great job on finding the root cause.

I have no idea how comes `L~&etag`. Is this field useful and meaningful? If not, I recommend you replace this string to another normal string in `response.content`. You just need to do it in the four functions in https://github.com/dixudx/rtcclient/blob/master/rtcclient/base.py#L55-L195.

[2018-01-19 02:51] kevinhe2017 commented on #103
The L~&etag is from the source of the work item page. I found it may change to A~&etag, B~&etag, etc. Etag is used for web browser cache purpose. It will check if the page has change since last visit. If not, it will get the local copy of the page content to save time and bandwidth. So it may be not useful for my project. I can replace it with another normal string.

For replacing the string, I tr

[2018-01-19 03:00] dixudx commented on #103
You should use `response.content = response.content.replace("~&etag", "XYZ")`. You can replace `XYZ` to anything unique normal string you like, like `Foo`, `Bar` and etc.

Correct.

[2018-01-19 14:38] kevinhe2017 commented on #103
I found I can't replace the string in those four functions. It gives "AttributeError: can't set attribute". Also, I found the "not well-formed (invalid token): line 17, column 77" error is from "wk = myclient.getWorkitem(1631898)" and it's likely caused by "raw_data = xmltodict.parse(resp.content, expat=defusedexpat.pyexpat)". I should find out why xmltodict.parse( ) can't handle the L~&Etag.

[2018-01-19 19:00] kevinhe2017 commented on #103
I confirmed the issue is caused by xmltodict.parse( ) which can't parse not well-formatted html file. Is there alternative code to achieve the same function?

[2018-01-23 14:20] dixudx commented on #103
@kevinhe2017 Great! Good job!

Sorry for the late reply~

xmltodict is easy to use. That's why I choose this.

Another way to fix this is to append below contents to a new file `rtcclient/xmltodict.py`

[code]

And override default `xmltodict` by replacing all `import xmltodict` to `from rtcclient import xmltodict` (our customized version) in other files, like `base.py`, `client.py` and etc.

[2018-01-23 18:56] kevinhe2017 commented on #103
I tried the new way and got the error "111 ERROR client.RTCClient: maximum recursion depth exceeded while calling a Python object".

By the way, I use the following code in my example.py and the client.py:
url = "https://rtc-ccm-1.int.xxx.com:9443/ccm/web"
workitem_url = "/".join([self.url,
                                    "oslc/workitems/%s" % workitem_id])
After I run it, I got the following

[2018-01-23 22:11] kevinhe2017 commented on #103
Also, I'm not confident it can solve the issue by replacing the L~&etag with another string and I used the xmltodict.parse( ) to parse the source code and found there may be another "mismatch tag" issue. I found this by saving the source to a HTML file and parse it using xmltodict.parse( ).

And, "https://rtc-ccm-1.int.xxx.com:9443/ccm/web#action=com.ibm.team.workitem.viewWorkItem&id=1643428" is t

[2018-01-24 02:46] dixudx commented on #103
The url is for web. What rtcclient uses is `https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/1643428`.

@kevinhe2017 Please set `ends_with_jazz=False` when you initializes the client obj.

[code]

[2018-01-24 15:48] kevinhe2017 commented on #103
First, thank you so much for your help and patience!

I do set ends_with_jazz=False when I initialize the client obj. Here is my code:
myclient = RTCClient(url, username, password, ends_with_jazz=False)

Through my recent finding, I thought the same thing: I should use https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/1643428 through the following code:
url = "https://rtc-ccm-1.int.xxx.com:944

[2018-01-25 02:45] dixudx commented on #103
@kevinhe2017 The url is wrong. Should be `url = "https://rtc-ccm-1.int.xxx.com:9443/ccm"`

[2018-01-25 14:04] kevinhe2017 commented on #103
Here is the error:

2018-01-25 08:57:56,828 ERROR client.RTCClient: Failed POST request at <https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/j_security_check> with response: Error 404: Not Found

2018-01-25 08:57:56,828 INFO client.RTCClient: 404
Traceback (most recent call last):
  File "C:/Users/xxxx/PycharmProjects/DFSS_Leon/Example.py", line 22, in <module>
    myclient = RTCClient(url, us

[2018-01-25 18:01] kevinhe2017 commented on #103
I found the resource page may be in HTML format. The rtcclient expects it in xml format. Not sure if it's part of the issues when trying to get a work item. I found many pages have the following as the first line.
<!DOCTYPE html>

[2018-01-25 21:34] kevinhe2017 commented on #103
I found the following two interesting posts. I don't fully understand the content. Maybe you know what they are talking about and if it applies to my issue.
https://jazz.net/forum/questions/244352/rtc-oslc-apis-not-working
https://www.newmediacampaigns.com/blog/browser-rest-http-accept-headers

[2018-01-26 08:54] dixudx commented on #103
@kevinhe2017 How come this url? This library will send requests to ` https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/<abcd>`, not ` https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/`. Did you change this part?

This library does add `"text/xml"` to HEADERS. And the response from rtc server is expected to be in xml format.

@kevinhe2017 Could help debug the web login requests through your

[2018-01-26 15:44] kevinhe2017 commented on #103
1. I don't know why it changed url to https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/.
Actually I just changed
from:
url = "https://rtc-ccm-1.int.gm.com:9443/ccm/web"
to:
url = "https://rtc-ccm-1.int.gm.com:9443/ccm"
After I run it, it gave me the error "requests.exceptions.HTTPError: 404 Client Error: Not Found for url: https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/".

2. My original

[2018-01-26 16:27] kevinhe2017 commented on #103
I just checked and confirmed that my RTC Jazz Repository Connection's URI : https://rtc-ccm-1.int.xxx.com:9443/ccm/ and Name: rtc-ccm-1.int.xxx.com. It's something else which causes the authentication error.

[2018-01-26 16:42] kevinhe2017 commented on #93
@arun017 Have you solved it? I have the exact same issue.

[2018-01-26 16:46] kevinhe2017 commented on #103
By the way, after reviewing issue #93 again, I found I have the exact same issue with arun017. He seems no longer in Gitub.

[2018-01-28 07:25] dixudx commented on #93
@kevinhe2017 Can you try to set `_allow_redirects=True` in [client.py#L79-L83](https://github.com/dixudx/rtcclient/blob/master/rtcclient/client.py#L79-L83). Just hard code it to `True` (modify client.py) to see what will happen.

[2018-01-29 00:29] kevinhe2017 commented on #93
@dixudx I have set _allow_redirects=True since beginning. Don't know what's really going on. Here are the ouput:
2018-01-28 19:12:58,431 DEBUG client.RTCClient: Get response from https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/identity
2018-01-28 19:12:58,431 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): rtc-ccm-1.int.xxx.com
2018-01-28 19:12:58,914 DEBUG urllib3.connection

[2018-01-29 00:50] kevinhe2017 commented on #93
I opened the page https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/j_security_check, it gives me the following warning. Is the sever has some special security thing which prevents authentication directly?
"You have followed a direct link to log in to a Jazz server. This page has been presented to ensure that a malicious website cannot use cleverly crafted content to circumvent security. Please

[2018-01-29 01:29] kevinhe2017 commented on #103
I'm using Mozilla Firefox Chrome poster add-on to debug it, but I'm not familiar with it though. Could you tell me how to send out POST with data (username and password)?

Someone says the Failed POST request issue may be related to cookies and/or TLS 1.2. See the following links:
https://jazz.net/forum/questions/230449/vbscript-error-on-login
https://jazz.net/forum/questions/242318/authentication

[2018-01-29 01:55] dixudx commented on #93
@kevinhe2017 What's your RTC server version?

[2018-01-29 02:06] kevinhe2017 commented on #103
I noticed it's failed at GET first with response 404. It may be some clue.
2018-01-28 20:44:22,805 DEBUG urllib3.connectionpool: https://rtc-ccm-1.int.xxx.com:9443 "GET /ccm/authenticated/ HTTP/1.1" 404 None
I think this GET is same as using Chrome poster to send GET directly to URL: https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated, correct? So I sent GET using Chrome poster to https://rtc-ccm

[2018-01-29 02:07] dixudx commented on #103
@kevinhe2017 Just login in the web as usual and suspect all the outcome requests. You will get a clue.

[2018-01-29 02:45] kevinhe2017 commented on #103
Ah ha, I finally figured out something.

See the following interesting post:
https://jazz.net/forum/questions/151167/can-not-login-ccm-server-with-oslc-api
I followed the example and sent the following two POST commands through Chrome poster:

https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/catalog/j_security_check?j_password=mypassword&j_username=myusername

OR:
https://rtc-ccm-1.int.xxx.co

[2018-01-29 02:49] dixudx commented on #103
@kevinhe2017 You can give it a good try in your use case.

But for common library, we still don't know what blocks the original authentication way.

[2018-01-29 02:52] kevinhe2017 commented on #103
[Response_With_Wrong_Password_Or_Username.txt](https://github.com/dixudx/rtcclient/files/1672019/Response_With_Wrong_Password_Or_Username.txt)
[Response_With_Good_Password_And_Username.txt](https://github.com/dixudx/rtcclient/files/1672020/Response_With_Good_Password_And_Username.txt)

[2018-01-29 13:51] kevinhe2017 commented on #93
RTC 6.0.4

[2018-01-29 14:06] dixudx commented on #93
This library has not been fully tested against 6.0.4 yet.

Seems the login url has slightly got changed. @kevinhe2017 Would you please help fix this? Thanks in advance.

[2018-01-29 17:46] kevinhe2017 commented on #93
I found by using Firefox Chrome poster to send just two requests like the following, I can get a correct work item response (Status 200 OK with xml format response content with ID 1643428 in it).
1. POST (to get authentication):
https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/catalog/j_security_check?j_username=myusername&j_password=mypassword

2. GET (to get work item):
https://rtc-ccm-1.in

[2018-01-29 21:41] kevinhe2017 commented on #93
Still can't get authenticated. Will the following code post the working URL:
https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/catalog/j_security_check?j_username=myusername&j_password=mypassword

Python code:
        credentials = urlencode({"j_username": self.username,
                                 "j_password": self.password})

        resp = self.post(self.url + "/oslc/workitems/catalog

[2018-01-29 21:55] kevinhe2017 commented on #93
Here is the debug info:

2018-01-29 16:25:22,137 DEBUG client.RTCClient: Get response from https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/identity
2018-01-29 16:25:22,137 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): rtc-ccm-1.int.xxx.com
2018-01-29 16:25:22,510 DEBUG urllib3.connectionpool: https://rtc-ccm-1.int.xxx.com:9443 "GET /ccm/authenticated/identity HTTP/1.1" 302

[2018-01-30 19:06] kevinhe2017 commented on #103
Could you tell me where is the following get( ) function in getWorkitem( ) is defined? It seems to get re-directed unnecessarily when it's called.
            resp = self.get(req_url,
                            verify=False,
                            proxies=self.proxies,
                            headers=self.headers)

[2018-01-30 19:10] kevinhe2017 commented on #103
Here is the redirected GET:
2018-01-30 13:33:42,421 DEBUG client.RTCClient: Get response from https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/1643428
2018-01-30 13:33:42,421 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): rtc-ccm-1.int.xxx.com
2018-01-30 13:33:42,484 DEBUG urllib3.connectionpool: https://rtc-ccm-1.int.xxx.com:9443 "GET /ccm/oslc/workitems/1643428 HTTP/1.1" 3

[2018-01-30 21:32] kevinhe2017 commented on #103
Never mind, I found where is get( ) defined.

[2018-01-31 18:19] kevinhe2017 commented on #103
I finally understood where my original issue "not well-formed (invalid token): line 17, column 77" comes from. It's caused by failed authentication. Although the response status is 200 OK, the response content is a html file, not a xml file. Using xmltodict.parse( ) to parse a html file, it will definitely be failed.

[2018-01-31 19:14] kevinhe2017 commented on #103
Our RTC administrator told me our RTC authentication doesn't use Kerberos protocol and the eclipse client does not use SSO. It is using a built in SSO from the middleware so the authentication through the python scripts should not have SSO. He said it should work fine without it. I don't quite understand what he said. I think the rtcclient's authentication scripts need to be tweaked for our RTC se

[2018-01-31 19:33] kevinhe2017 commented on #103
By the way, our RTC server uses form-based authentication.

[2018-01-31 19:51] kevinhe2017 commented on #103
Our RTC 6.0.4 is installed on a IBM WebSphere® Application Server which uses form-based authentication. I think the rtcclient 0.6.0 scripts use form-based authentication method. Don't know why it doesn't work on our RTC server.

[2018-01-31 20:32] kevinhe2017 commented on #103
Our RTC authentication url is https://rtc-ccm-1.int.xxx.com:9443/ccm/web, not https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated.

[2018-01-31 21:14] kevinhe2017 commented on #103
Here is the debug output. Could you explain why it has "GET /ccm/auth/authrequired"? I couldn't find where it's sent.

2018-01-31 16:03:17,420 DEBUG client.RTCClient: Get response from https://rtc-ccm-1.int.xxx.com:9443/ccm/authenticated/identity
2018-01-31 16:03:17,424 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): rtc-ccm-1.int.xxx.com
2018-01-31 16:03:17,766 DEBUG urllib3.conn

[2018-02-01 01:43] kevinhe2017 commented on #103
I was able to tweak the code so the responses are all in xml format, but the following code causes error for unknown reason:
workitem_raw = raw_data["oslc_cm:ChangeRequest"]
The raw_data is like:
OrderedDict([(u'rdf:RDF', OrderedDict([(u'@xmlns:process', u'http://jazz.net/ns/process#'), (u'@xmlns:acp', u'http://jazz.net/ns/acp#'),....

2018-01-31 20:38:59,063 ERROR client.RTCClient: 'oslc_cm:Chang

[2018-02-01 02:22] kevinhe2017 commented on #103
After reviewing the xml response content carefully, I changed
From:
workitem_raw = raw_data["oslc_cm:ChangeRequest"]
To:
workitem_raw = raw_data["rdf:RDF"]["oslc_cm:ChangeRequest"]

It fixed the 'oslc_cm:ChangeRequest' error and goes further, but it still has other issues. Looks like I have to debug every step of the scripts.

[2018-02-01 02:31] dixudx commented on #103
@kevinhe2017 Good job.

Seems the schema has changed.

[2018-02-02 20:52] kevinhe2017 commented on #103
@dixudx Thanks. The rtcclient seems to work fine now. I can get a specific work item at least. Actually I would like to find all the work items which are owned by someone and the type is "Implementation Work Ticket". Basically I would like to retrieve those work items' title, ID and Parent ID.

Right now I have to create a query in RTC then export the query to an excel file and process it. How can

[2018-02-05 09:49] dixudx commented on #103
@kevinhe2017 Please refer [this query example](http://rtcclient.readthedocs.io/en/latest/quickstart.html#query-workitems).

[2018-02-05 19:05] kevinhe2017 commented on #103
I found the project area ID _Tf1GwI4UEeGDLvoSNiZKIA in https://rtc-ccm-1.int.xxx.com:9443/ccm/oslc/workitems/catalog

Here is part of related catalog content.
-<oslc_disc:entry>
-<oslc_disc:ServiceProvider>
<dc:title>Project Name</dc:title>
<oslc_disc:details rdf:resource="https://rtc-ccm-1.int.xxx.com:9443/ccm/process/project-areas/_Tf1GwI4UEeGDLvoSNiZKIA"/>
<oslc_disc:services rdf:resource="http

[2018-02-06 01:27] dixudx commented on #103
@kevinhe2017 Have you followed the link I gave above?

If you want to query workitem owned by someone, you can do like this

[code]

[2018-02-06 22:18] kevinhe2017 commented on #103
I did follow the link you provided, but I found the queryWorkitems( ) method doesn't work as expected because the self.get( ) in _get_paged_resources( ) of client.py doesn't work. I saw the following comment in getMySavedQueries( ) in query.py. Don't know if it's the root cause.
        WARNING: now the RTC server cannot correctly list all the saved queries
        It seems to be a bug of RTC. Rec

[2018-02-08 08:00] dixudx commented on #103
@kevinhe2017 Good job. Thanks for your time and work.

Would you help please submit several PRs to fix current problems. Seems current library cannot work well for newer RTC server. Minor updates are needed.

Really appreciate.

[2018-02-12 16:08] kevinhe2017 commented on #103
I can do that, but I'm not sure the proper way to submit PRs. Can you show me an example?

[2018-02-13 01:25] dixudx commented on #103
@kevinhe2017 Please refer to [Creating a pull request](https://help.github.com/articles/creating-a-pull-request/).

[2018-02-20 10:01] Mershl opened #106 "Status 400 when trying to add comment to WorkItem with Jazz 6.0.4"
Hi @dixudx,

I'm currently seeing the following error when trying to create comments to "some" Tasks. "Some" because it's working for some tasks and for others it's never working. I try to reproduce it.

Error output:
[code]

[2018-02-20 10:10] Mershl commented on #106
Found the culprit.

Posting a message including special characters like "&" will lead to a "client error 400 - Not a comment identifier: oslc:comment".

[2018-02-22 00:59] dixudx commented on #106
@Mershl For these special characters, you need to encode. Please refer to [https://www.w3schools.com/tags/ref_urlencode.asp](HTML URL Encoding Reference).

For example, `&` should be `%26` to avoid being recognized as normal `&` when making a request.

[2018-02-22 08:19] #106 closed

[2018-04-17 09:50] bagrym opened #107 "RTCClient: Failed POST request at authenticated/j_security_check with response: Error 404: Not Found"
@dixudx !
 I am implementing integration with RTC v6.0.5 for my Python Flask app.

Problem is that POST request generated by the package fails (complete log):

2018-04-17 12:31:16,513 DEBUG client.RTCClient: Get response from https://host/jazz/authenticated/identity
2018-04-17 12:31:16,522 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): host
2018-04-17 12:31:17,365 DEBUG urllib3.c

[2018-04-17 09:55] dixudx commented on #107
Perhaps. This library has not been tested against `6.0.5` yet.

@bagrym You can use Chrome to inspect all the network connections to find out the real url when login through the web.

[2018-04-17 19:16] bagrym commented on #107
It worth to mention that if I user wrong credentials, then that POST request passes, app gets response with code 200 and authfailed value. As expected.

[2018-04-17 19:29] bagrym commented on #107
After some close debugging in base.py I see that in response for POST request to /authenticated/j_security_check app gets response with 404 error with redirect url to https://igartc02.swg.usma.ibm.com/jazz/authenticated/

[2018-04-18 06:27] dixudx commented on #107
@bagrym Sorry, I don't have a handy environment to debug. The only way I think is to inspect all the network requests, i.e., all the GET/POST requests, during login to 6.0.5.

[Analyze HTTP Requests and Responses with Chrome Devtools](https://egghead.io/lessons/tools-analyze-http-requests-and-responses-with-chrome-devtools)

[2018-05-03 14:42] minusbrain opened #108 "Properties with "." in the name are not accessible"
Due to the check for dots in the name of a property at below code locations properties that have one or more dots in its name are not accessible to users of the client.
https://github.com/dixudx/rtcclient/blob/1721dd0b047478f5bdd6359b07a2c503cfafd86f/rtcclient/base.py#L273

I wonder if this by intention or if this is a bug? I ran into this issue because story points are stored in a property called

[2018-05-08 20:42] kevinhe2017 commented on #93
@lvfanqie yes, I already solved this issue. Please refer my post "fix issue #103: Authentication not working for RTC 6.0.4 ccm and other issues" under the above "Pull request" tab to find my solution.

[2018-05-08 21:01] lvfanqie commented on #93
@kevinhe2017 how you fix the authentication issue? For your log for issue 103, I could see the response from security check is 200 but not 302.

[2018-05-09 08:27] dixudx commented on #108
@minusbrain This is by intention. Most of such long fields are meaningless.

[2018-05-09 15:25] lvfanqie commented on #93
for me, the issue is a little bit different. for GET request on /authenticated/identity and POST request on /authenticated/j_security_check, I got HTTP response 302. While I can still get the status from work item. Just wonder how to get rid of error response 302. I tried with Chrome poster using above url. The status is 200.

[2018-05-09 15:28] kevinhe2017 commented on #93
@dixudx The directions on your "Creating a pull request" link is very difficult to follow and should be revised. I spent a lot time and finally figured out how to make the changes and submit pull request.

[2018-05-09 15:35] kevinhe2017 commented on #93
@

[2018-05-09 16:02] lvfanqie commented on #93
@kevinhe2017 could you let me know how get the fix? I tried to go to error#103 but could not find where to download the fixes.

[2018-05-09 19:10] kevinhe2017 commented on #93
@lvfanqie Your URL doesn't look right. Please ask your RTC administrator to make sure you enter the correct authentication URL. Every organization's authentication URL is unique.

You can check if your URL is correct through Chrome poster. If your URL is correct, you may get response 400 Bad Request. In the response content, it may have something like "You have followed a direct link to log in to

[2018-05-09 19:54] kevinhe2017 commented on #93
@lvfanqie There are some mistakes in previous note.
When using chrome poster, after adding the following to Headers tab.
 Accept: text/xml
 OSLC-Core-Version: 2.0

If entering a correct authentication URL and sending POST command, you may get response 400 Bad Request with note "You have followed a direct link ...". If entering a wrong authentication URL and sending POST command, you may get respon

[2018-05-09 19:54] lvfanqie commented on #93
@kevinhe2017 I checked with IT and the authentication link is https://rtc-ccm2.xx.com:9443/ccm/authenticated/j_security_check
As I post the request on this link in chrome poster, i got response of 400 band request as you said. But put this in the client.py, I still get response of 302.

[2018-05-09 20:25] kevinhe2017 commented on #93
@lvfanqie Ok, looks like the wrong authentication URL issue is fixed. You can try the following further changes also:
1. In your example Python script, use the following url assignment:
        # Set up the URL for querying the work tickets in RTC
        url = "https://rtc-ccm2.xxx.com:9443/ccm"
        # Initialize and authenticate the RTC client
        client = RTCClient(url, username, passwor

[2018-05-09 20:34] lvfanqie commented on #93
@kevinhe2017 sigh. I already tried what you said and still got 302. So the response for security check need to be 200, right?

[2018-05-09 21:04] kevinhe2017 commented on #93
@lvfanqie actually, I'm not sure if the response needs to be 200 because it may involve re-direction which will get 3xx response. For me, I used the example first and found it didn't work. Then I wrote my script for my project and removed the logging feature because it's annoying after I fixed the issue. So I can't see my script's response anymore. For your reference, you can review my issue #103

[2018-05-10 14:11] lvfanqie commented on #93
@kevinhe2017 Thanks for your kindly help. I figured out how to solve my problem with authentication issue. As what I said, my issue is a little different from yours. I actually is able to get work item status event it return 302 for security check. And what is really wrong is when I input a wrong ID or pw, it doesn't return authentication error. I change the authentication message check part as be

[2018-05-10 16:20] kevinhe2017 commented on #93
@lvfanqie Glad to know you solved it quickly.

[2018-05-22 12:04] edinev opened #112 "Unable to log-in with single sign-on enabled on CLM 6.0.4"
With a recent update to CLM 6.0.4 a single sign-on feature was enabled for our RTC servers. Before the update everything was working correctly using this client, but now I am unable to log in.
Here is a log:

2018-05-21 17:42:19,767 DEBUG client.RTCClient: Get response from https://host:9443/ccm3/authenticated/identity
2018-05-21 17:42:19,829 DEBUG urllib3.connectionpool: Starting new HTTPS connec

[2018-05-23 03:22] dixudx commented on #112
Truncated log here?

_headers["Cookie"] += "; " + resp.headers.get("set-cookie")
TypeError: must be str, not NoneType

Seems the response header does not have field `set-cookie`.

@edinev Actually I've never tested this library against SSO feature. Would you please send me a full log? Did not find anything useful from truncated logs.

[2018-05-23 08:52] edinev commented on #112
@dixudx Unfortunately the logs aren't truncated there just isn't a normal response from the get requests in question.
After some tinkering with it, I found out that when you try to access RTC server the link redirects to this url: https://host:9643/jazzop/form/login . After a successful login you are redirected back to the original RTC server.
I also noticed that there is a similar to the used in

[2018-05-24 01:36] dixudx commented on #108
@minusbrain You can try to add a short circuit for `com.ibm.team.apt.attribute.complexity` here.

The reason why I chose to do this is because I want to make these properties accessible by `someObj.someproperty`,

https://github.com/dixudx/rtcclient/blob/1721dd0b047478f5bdd6359b07a2c503cfafd86f/rtcclient/base.py#L289

For such long properties, this is not doable unless you truncate or take the las

[2018-05-28 13:29] kmilev commented on #112
I have the same issue, is there any development ?

[2018-05-29 09:30] dixudx commented on #112
@edinev @kmilev I did not get any detailed log on this.

https://github.com/dixudx/rtcclient/blob/1721dd0b047478f5bdd6359b07a2c503cfafd86f/rtcclient/client.py#L80-L83

What if you set `ends_with_jazz=True` to allow redirects.

Any differences on the auth dict?

[2018-05-29 10:03] kmilev commented on #112
@dixudx This is the log i get and it is basically the same (with the ends_with_jazz=True):

2018-05-29 12:55:07,473 DEBUG client.RTCClient: Get response from https://host:9443/ccm3/authenticated/identity
2018-05-29 12:55:07,493 DEBUG requests.packages.urllib3.connectionpool: Starting
 new HTTPS connection (1): host
2018-05-29 12:55:07,983 DEBUG requests.packages.urllib3.connectionpool: https://
ho

[2018-05-29 10:39] dixudx commented on #112
host:9443 "GET /ccm3/authenticated/identity HTTP/1.1" 302 0
2018-05-29 12:55:08,063 DEBUG requests.packages.urllib3.connectionpool: https://
host:9443 "GET /ccm3/authenticated_identity HTTP/1.1" 401 0

The response code 401 showed you're not authorized. Please help check your login account.

[2018-05-29 10:45] kmilev commented on #112
It is working when i log in manually.

[2018-08-22 10:12] krzeelzb opened #113 "Problems with getProjectArea"
Traceback (most recent call last):
  File "path", line 41, in <module>
    myclient.getProjectArea(projectarea_name, archived=False, returned_properties=None)
  File "path", line 183, in getProjectArea
    projectarea_name=projectarea_name)
  File "path", line 212, in _getProjectAreas
    filter_rule=filter_rule)
  File "path", line 1371, in _get_paged_resources
    entries = (raw_data.get("oslc_c

[2018-08-22 11:31] dixudx commented on #113
AttributeError: 'NoneType' object has no attribute 'get'

Seems the raw_data here is none.

@krzeelzb Have you provided the right login info? It seems the client does not get the correct login token. And strangely it does not occur any error.

[2018-08-22 11:39] krzeelzb commented on #113
Username and password, I am sure about. Could it be because of bad url?

[2018-08-22 11:39] krzeelzb commented on #113
Username and password, I am sure about. Could it be because of bad url?

[2018-08-22 11:41] krzeelzb commented on #113
When I use different url, then I have different error:
`parser.Parse(xml_input, True)
xml.parsers.expat.ExpatError: not well-formed (invalid token): line X, column Y`

[2018-08-22 11:42] dixudx commented on #113
Yeah, probably. This url is not random. It normally is something like `https://your_domain:9443/jazz`.

[2018-08-22 11:44] krzeelzb commented on #113
Ok, I changed url and still sth not working:
  `  raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='rtc.intel.com', port=9443): Max retries exceeded with url: /jazz/authenticated/identity (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x0000000005E8FC88>: Failed to establish a new connection: [Errno 10060]

[2018-08-22 11:47] dixudx commented on #113
@krzeelzb What does your url look like?

And please enable debug logging mode.

[code]

[2018-08-22 11:51] krzeelzb commented on #113
still the same problem:(

[2018-09-16 07:28] dixudx commented on #88
@krishnavelu Thanks for using this library. Would you mind sharing your full log?

[2018-09-19 20:40] krishnavelu commented on #88
Hello dixudx,

Sorry for the late reply. I'll explain my all series of problems one by one for creating a work item.

Version:
Python 			- 3.7
Jazz Server 	- 6.0.2
rtcclient 		- 0.6.0
windows 10

Here is my example [code](https://gist.github.com/krishnavelu/8bbf7a70f0258bb3d509e2d9a0f0649d).

**1. OrderedDict mutated during iteration.**

If I use rtcclient version 0.6.0, I get this [error](https:/

[2018-09-23 08:09] dixudx commented on #88
@krishnavelu  Sorry for the late reply.

Cannot replace field [rtc_cm:foundIn]

 Above are only warnings. Some field settings may not be included in some customized.

The outstanding place is 500 internal error.

2018-09-19 16:51:26,939 INFO client.RTCClient: 500
Traceback (most recent call last):
  File "test.py", line 77, in <module>
    severity = "Normal",
  File "C:\Users\mudalikv\AppData\Loc

[2018-09-25 18:14] krishnavelu commented on #88
Hello
I forgot to mention, I've checked out development branch. Still I get the same error

I've done this.

Now I get a different [error](https://gist.github.com/krishnavelu/10781f8c837196cd5480d3d96850a305)

[2018-09-26 13:06] dixudx commented on #88
File "test.py", line 77, in <module>
    severity = "Normal",
  File "C:\Users\mudalikv\AppData\Local\Programs\Python\Python37\lib\site-packages\rtcclient\client.py", line 1062, in createWorkitem
    **kwargs)
  File "C:\Users\mudalikv\AppData\Local\Programs\Python\Python37\lib\site-packages\rtcclient\template.py", line 142, in renderFromWorkitem
    return remove_empty_elements(rendered_data)
  F

[2018-09-27 03:18] dixudx commented on #88
@krishnavelu Please try with this commit 83ecf02aaa17e9201550080b969a6dbb4905ffca.

[2018-10-02 15:00] krishnavelu commented on #88
Hello dixudx,

Sorry for the late reply.
I've tried that commit. It give me an error ['str' object has no attribute 'decode'](https://gist.github.com/krishnavelu/43c8a7554f5a03086bb386f34f7a6e54).
I'm using python 3.7.

But changing that function like this worked for me...
I was able to create work items.

`
def remove_empty_elements(docs):
    root = etree.fromstring(bytes(docs, 'utf-8'))
    for

[2018-10-05 02:44] jasom commented on #108
I have a different property that is important to me that is also prefixed with com.ibm; it would be nice if we could some how specify which of these items we care about, and what to alias them with when creating a work item, perhaps anywhere we also specify returned_properties?

[2018-10-05 03:07] jasom commented on #108
I've prototyped a change, it works great, will work on PR

[2018-10-08 09:37] dixudx commented on #108
@jasom Great! Looking forward for your PR.

[2018-10-08 13:02] dixudx commented on #88
It is not yet merged in master branch.

I am so glad that this library is so widely used. And thanks for all of you to get this improved.

Please help try latest development branch to verify the newest fix works for you. 0.7.0 is coming soon.

If everything works well, I think 0.7.0 is ready to ship.

[2018-10-08 19:00] krishnavelu commented on #88
Hello Dixudx,

(here)[https://gist.github.com/krishnavelu/c8d073f86a4a960a8a5e5ab80d335065] is what I get, when I try to install development version.

[2018-10-09 14:46] dixudx commented on #88
@krishnavelu See my comment in your gist.

[2018-10-10 14:28] krishnavelu commented on #88
Hello Dixudx,

Even with python3.5 I'm getting the same environment error.

See [here](https://gist.github.com/krishnavelu/a25912ea490f151b0dd9dd2cc265ddcb)
This might be due to the requirement 'pbr!=0.7,<1.0,>=0.6'
Can we not use the latest pbr 4.3.0?

Its just a guess, you may be the right person to answer.

Please note that I'm using windows 10. Which has new type of [environment variable](http

[2018-10-10 16:28] krishnavelu commented on #88
Hello Dixudx,

One more problem I face now for creating work item is, I'm not able to set a custom attribute.
I've created a custom attribute 'PvcsAcceptedBy' in RTC. And setting through api.
But I'm getting error.

'RTCClient' object has no attribute 'getPvcsAcceptedBy'.

Is custom attributes not supported? If not supported what modification should I do for adding custom attributes.

[2018-10-11 05:49] dixudx commented on #88
Can we not use the latest pbr 4.3.0?

@krishnavelu You can give it a try. I don't have an available Windows environment.

Yes, custom attributes are well supported. You can follow [this createWorkitem API](https://rtcclient.readthedocs.io/en/latest/_modules/rtcclient/client.html#RTCClient.createWorkitem). Normally there are two ways to do this,

1. Uses a template. You can try to call [getTemplate

[2018-10-16 20:43] krishnavelu commented on #88
Hello Dixudx,

I guess I'm using the copied_from one. But still I get the error

''RTCClient' object has no attribute 'getPvcsAcceptedBy''

'PvcsAcceptedBy' is the custom attribute.

The work Item gets created but, it doesn't set the value which is passed into createWorkItem. The value of that attribute gets copied from the original WI.

Here is the code I used to create WI.

`wk = rtc.createWorki

[2018-10-23 06:18] dixudx commented on #88
description = "Dummy Story description", projectarea_name = "project area name",
copied_from = "41048", filedAgainst = "filedAgainst",
plannedFor = "Release 1", ownedBy = ownedBy,
priority = "Unassigned", severity = 'Normal',
foundIn = 'Coding', PvcsAcceptedBy = "acceptedByPerson"
)

@krishnavelu `PvcsAcceptedBy` is invalid. Here `**kwargs` are for args like `filedAgainst`, `foundIn` and etc, if y

[2018-10-23 12:33] waltercmg opened #114 "CreateWorkItem/CopyWorkItem do not work"
Hello,

When i try create or copy a workitem, as bellow:

`myclient = RTCClient(url, username, password, ends_with_jazz=False)
new = myclient.copyWorkitem(copied_from=17079,title="", description="")`

This error occurs:

`2018-10-23 09:28:06,742 INFO client.RTCClient: 404
Traceback (most recent call last):
  File "teste_criar_item_alm.py", line 87, in <module>
    main()
  File "teste_criar_item_a

[2018-10-23 14:15] krishnavelu commented on #88
Can I get some example code snippets for modifying the template.
I'm able to do getTemplate. But couldn't get any information about how to modify the custom attributes.

[2018-12-18 09:41] dixudx commented on #88
@krishnavelu https://rtcclient.readthedocs.io/en/latest/client.html#rtcclient.client.RTCClient.createWorkitem

[code]

You just need to pass your template attribute in `createWorkitem`. But you need to make sure `mycustomized_attr` is supported or existed in your RTC environment.

[2018-12-18 09:43] dixudx commented on #114
@waltercmg You have specified an empty title, which is invalid or not supported. The `title` here is for your new workitem.

[2019-01-10 01:19] hylsp opened #115 "how does the createworkitem work？I use it as below！thank you！"
a=myclient.createWorkitem(item_type='Task', title='test1', description=None,projectarea_id=None, projectarea_name="[PROD]eRPO_Base_MBSE_PATAC_RTC",template=None, copied_from="144265", keep=False)

the console shows like this：
RuntimeError: OrderedDict mutated during iteration
![issue](https://user-images.githubusercontent.com/15908427/50939668-cb5e3e80-14b8-11e9-9320-1a5b7b6385da.JPG)

[2019-01-10 01:45] hylsp commented on #114
I tried the copy，but it shows like this：RuntimeError: OrderedDict mutated during iteration

[2019-02-25 18:59] GJor commented on #7
How about updating added custom attributes for existing workitems? Like getting the workitem and requesting the update of a single custom attribute...

[2019-02-25 19:04] GJor opened #118 "How to update a custom attribute value with Python "RTCClient""
Team,
is there a way to update a custom defined (string) attribute in an existing workitem in the Python "RTCClient"? Somehow I cannot find how to do it..

[2019-02-26 02:38] dixudx commented on #7
No yet. I don't have too many bandwidth for this new feature. But you can help submit a PR to address this. @Feva @GJor @feliperuhland @Mershl

[2019-02-26 02:40] dixudx commented on #118
Now creating a workitem with custom defined attribute is supported. But updating an existing workitem is not supported yet.

xref #7

[2019-02-26 02:41] dixudx commented on #118
dup of #7.

Close it. Move discussion to #7.

[2019-02-26 02:41] #118 closed

[2019-06-25 13:56] rumpumpel1 opened #119 "<oslc_cm:message>Unknown attribute id: rtc_cm:type</oslc_cm:message>"
my environment is python-3.6 and RTC 6.0.6

I'm trying to run the example script:

from rtcclient.utils import setup_basic_logging
from rtcclient import RTCClient
url = "https://cmis-rtc.de.xxxxx.com:9443/ccm"
username = "XXXXX"
password = "XXXXX"
myclient = RTCClient(url, username, password, ends_with_jazz=False)
myquery = myclient.query
projectarea_name = "Tooling Support"
myquerystr = 'rtc_cm:t

[2019-08-21 05:46] tszw opened #120 "Can't create workitem of type 'Defect'"
Hi Di Xu@dixudx
It raise exception: NotFound: Not itemtype's name is Defect in <ProjectArea xxxx> when I try to create one, but it can fetch the type attribute as 'defect' from an existing defect.
Can you take a look?
my RTC version is 6.0.2,
here is the code:
myClient = RTCClient(url, username, password, ends_with_jazz=False)
myClient.createWorkitem(item_type="Defect",
                         ti

[2019-08-21 06:01] dixudx commented on #120
@tszw So just use `defect` instead of `Defect`. Acutaly this is usually customzied by your system administrators.

[2019-08-21 06:33] tszw commented on #120
@dixudx Already tried with 'defect', got the same error. Actually I fetched the type from an existing defect in my RTC area.

[2019-08-27 13:14] franz-95 commented on #112
I encountered a similar problem. For me the same logging output was displayed.

For me the fix was to add the auth=(self.username, self.password) tuple to the arguments of the self.get() function in line 86 and 117 of the client.py. I also removed the lines 96 through 104 as they were not needed. With that the authentication proceeded properly and I can now use the library as needed.

[2019-08-30 06:47] dixudx commented on #112
@franz-95 Would you please submit a PR to address this?

[2019-08-30 08:12] franz-95 commented on #112
I only have my RTC available so I don't know if my changes affect other users. I could work with a try/except to catch Error 401 but I don't think that is a nice way of doing it.

[2019-09-06 04:01] hiosdroid opened #121 "How to retrieve story point of workitem ?"
Dear Di Xu and all,

I followed the guideline v0.1.dev95 but I didn't see how to get the story point value of a certain Story workitem.
Could you help me to solve this case ?

[2019-09-15 08:16] dixudx commented on #121
@hiosdroid You could try to follow all returned properties, ref to [link](https://rtcclient.readthedocs.io/en/0.6.0/quickstart.html#about-returned-properties). And find out the exact story point attribute. I cannot rememer the exact name, but you can use this way to figure it out. Then you can access the value using something like this `wk_example.storyPointExample`.

[2019-10-21 01:39] hiosdroid commented on #121
@dixudx Sorry, I could not find any properties related to storyPoint in ref link.

[2019-10-22 12:14] dixudx commented on #121
@hiosdroid You need to find out from your wk_example.field_alias.

[2019-11-07 04:43] Josespaul commented on #112
This issue is still not fixed. Log-in is still failing.

[2019-11-12 16:15] jacobbrozenick commented on #88
Any chance the development branch with these changes on it will get committed to master?  I struggled with this exact error for almost 2 weeks before finally finding this thread, works great now!  But I had to pull the development branch (which isn't the version in pypi).

[2019-11-13 13:55] vishal-kharde opened #122 "Add method to fetch the history and comments for a workitem"

[2019-12-26 19:16] gbecki opened #123 "The element type "oslc_cm:ChangeRequest" must be terminated by the matching end-tag"
Hi Di Xu

When i'm try to create Workitem or copy an existent, i get:

<oslc_cm:message>Malformed XML: The element type "oslc_cm:ChangeRequest" must be terminated by the matching end-tag "&lt;/oslc_cm:ChangeRequest&gt;".</oslc_cm:message>
</oslc_cm:error>
2019-12-26 16:06:52,521 INFO client.RTCClient: 400

Do you have any clues about the error?

RTC version: 6.0.4
Python version : 2.7.12

Ps: Nice

[2019-12-27 03:12] dixudx commented on #123
@gbecki Would you please provide a piece of your codes on how you created a Workitem. And the error stack track as well.

[2019-12-27 14:20] gbecki commented on #123
Hey @dixudx tks for you reply.

[code]
<pre>
</oslc_cm:ChangeRequest> and json: None
2019-12-27 10:43:09,468 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): clm.rtcserver.internal:443
2019-12-27 10:43:09,482 DEBUG urllib3.connectionpool: https://clm.rtcserver.internal:443 "POST /ccm/oslc/contexts/_moJeAH_FEei-sv3TdZXl1w/workitems/incidente_mib HTTP/1.1" 400 330
2019-12-27 10:43:09

[2020-01-03 12:57] dixudx commented on #123
@gbecki

After inspecting your template, L24 is suspicious. Please remove it and have a try.
[code]

[2020-01-03 17:32] gbecki commented on #123
@dixudx

Yes, I am already remove this line earlier, but unfortunately the error persists.
Using another template generated from other existing task, the error is different:
[code]

I will try to create from another Factory with simpler arguments.

Thank you

[2020-01-07 12:37] #123 closed

[2020-02-02 22:12] adam-fineman opened #124 "OrderedDict mutated during iteration causing unit tests to fail."
Running the unit tests against py36 (I don't have py33 installed), I see the following failures:

=================================== FAILURES ===================================
_________________ TestRTCClient.test_list_fields_from_workitem _________________

self = <test_client.TestRTCClient object at 0x7fca9fe05080>
myrtcclient = <RTCClient RTC Server at http://test.url:9443/jazz>
mocker = <pyt

[2020-02-02 22:12] adam-fineman commented on #124
Pull request coming.

[2020-02-03 01:10] adam-fineman commented on #108
@dixudx Please see my pull request for a fix.

[2020-02-04 07:40] babuenir commented on #112
Thanks for the quick fix. I needed "_allow_redirects = True" too. I could access jazz RTC with this now.

[2020-02-04 08:43] dixudx commented on #112
@babuenir Thanks for your verification.

[2020-02-12 13:30] rajapauldeloitte commented on #84
Hi,

I guess I also want to download the attachment and get the attachment binary content.

is there no way of doing it, i tried the webbrowser.open(). it's working.

i need to know if there are any other ways possible

[2020-03-05 13:05] ChiliMax90 opened #126 "HowTo updateWorkitem"
Hello together!
Is there a way to update an exisiting workitem?

[2020-03-05 13:10] #126 closed

[2020-03-05 13:10] ChiliMax90 commented on #126
duplicate

[2020-03-10 12:08] LusongHou opened #127 "Is that possible to get Git Commit from RTC just like getting ChangeSet?"
As we know, RTC support to work with Git, and it also support to create the link to Git commit in RTC.
accordingly, is that possible to get the Git commit just like getting RTC change sets via this API?

[2020-03-13 04:08] dixudx commented on #127
@LusongHou i guess it is  is feasible.

But currently I don't have bandwidth to implement this feature. Would you like to contribute to this?

[2020-03-17 18:06] fignutz commented on #121
@dixudx @hiosdroid
I've recently pulled this code for something I'm working on, and made the following type of change to the `base.py` file's `__initializeFromRaw` function section:

[code]
I needed the IBM classes that terminate with the strings outlined in the `safeFields` array (this includes storypoints). Doing this not only gets me what I want without making sweeping edits to this library, bu

[2020-03-17 18:21] fignutz commented on #127
@LusongHou
This is possible. I commented on how to do this **[in another thread](https://github.com/dixudx/rtcclient/issues/121#issuecomment-600218800)**. All you should have to do is add the phrase `git` to the array in my example. This will return field_aliases based off of the following items in CCM:
[code]

[2020-03-27 04:58] arunselvamr opened #128 "how to fetch planned for end date"
i am having issue in fetching the planned for name ,its start date and end date. what is the build in attribute for getting those values

[2020-04-07 18:41] fignutz commented on #122
Currently,  workitem History is NOT reported in the OSLC API, but in the newer Reportable REST API that IBM uses. That said, I was able to hack this library set to pull in item histories, but it is very involved and requires, amongst writing your own algorithm to sort the history return object (_not the same as an OSLC object at all_), creating a custom `relogin` function to "switch headers" on th

[2020-04-08 02:23] dixudx commented on #122
@fignutz Currently I don't have too much bandwidth to work on this new feature. Your contributions are welcome if you are interested.

[2020-05-06 12:55] gmalmeida commented on #112
@franz-95

I have added the recommended tuple  as described:

[code]
However, I am still observing the following error:
[code]

Our Jazz Server is using:

[code]
Did you ever have the chance to test this fix on **6.0.6**?

Thank you guys!

[2020-05-07 03:41] dixudx commented on #112
@gmalmeida More error context for this? Needs more lines of logs.

[2020-05-07 06:18] gmalmeida commented on #112
[code]

[2020-05-07 12:53] dixudx commented on #112
From the status code 302, it seems the url has been changed to a newer one. @gmalmeida

@gmalmeida Please follow solution from @franz-95 , and have another try.

Quoted,

https://github.com/dixudx/rtcclient/blob/master/rtcclient/client.py#L86-L117

Just modify the file `client.py` installed in site-packages folder. And have another try.

[2020-05-07 12:54] dixudx commented on #112
@franz-95 Would you like to submit your PR? I would like to package a new version to fix this incompatible issue.

[2020-05-07 14:15] gmalmeida commented on #112
@dixudx , that is exactly what I have done -> see my previous message.

Unfortunately, it did not work for me. Probably I am missing something else that I am not able to point out.

[2020-05-08 09:56] dixudx commented on #112
@franz-95 @babuenir Would you like to elaborate the fix?

[2020-05-15 04:06] babuenir commented on #112
@dixudx, @gmalmeida probably you would need to set `_allow_redirects = True` irrespective of the condition. In _get_headers method, I changed like below
[code]
to
[code]
In my usecase, the redirection to authentication page works by doing so.

[2020-05-15 07:42] gmalmeida commented on #112
@babuenir, thanks for your inputs.
My [previous message](https://github.com/dixudx/rtcclient/issues/112#issuecomment-625052417)  suggests I have this properly set to `True`. So I think the error may be related to something else.

[2020-05-18 11:28] MykolaKovalov commented on #112
Hi guys!
I have an issue same as @gmalmeida.
Do someone have solution?
Thanks in advance!

[2020-05-19 07:55] ParthibanSG opened #129 "RTC - SSLV3 HandShake Error"
I am using CLM 6.0.2 version and it is a stand-alone installation with no proxy server. I created sample workitems for testing RTCClient python package. I tried retrieving workitem via cURL and it works.

Additionally, I have my python script similar to the initial code snippet from rtcclient document like connecting to Jazz and getting a workitem. However, authentication to CLM is not happening a

[2020-05-27 16:28] jmulholland56 opened #130 ".queryWorkItems with RTC version 6.0.6.1"
I am trying to use .queryWorkitems with RTC version 6.0.6.1 and am running into a warning message stating:

client.RTCClient: No Querys are found.

Following the link provided in the logging, I see:

<oslc_cm:Collection oslc_cm:totalCount="0" xmlns:oslc_cm="http://open-services.net/xmlns/cm/1.0/"/>

I am able to retrieve single work items through .getWorkItem and am able to retrieve work items thr

[2020-06-01 13:42] AlldreenDev commented on #115
same for me as well.
test4 =myclient.createWorkitem("Story", "New Test Bug2", description = "Sample Description",projectarea_id = "_tAlJ4LshEeS6sqoyGG6bXQ", projectarea_name = "RBEI Internal (SCRUM Process)", copied_from ="846734", keep=False)

Error logs:""""""""""""""""""""""""""""""""""""""
  File "C:\Python37\lib\site-packages\rtcclient\client.py", line 1047, in createWorkitem
    **kwargs)

[2020-06-03 11:33] dixudx commented on #115
@AlldreenDev Please clone the latest code in [`development` branch](https://github.com/dixudx/rtcclient/commit/6feaa31a911b04312fa13bf8e3268463b681a44c). Hope it works.

[2020-06-03 12:48] dixudx commented on #112
@franz-95 @babuenir  Would you like to submit a PR to address this issue? Thanks ahead.

I would like to package a newer version for this library. This fix is quite critical.

[2020-06-03 12:49] dixudx commented on #130
@jmulholland56 Would you like to share your snippet? Also some logs. Thanks.

[2020-06-03 12:51] dixudx commented on #129
@ParthibanSG Please share your snippet and logs. Thanks.

[2020-06-03 13:00] dixudx commented on #128
@arunselvamr Please refer to [this doc](https://rtcclient.readthedocs.io/en/latest/quickstart.html#about-returned-properties). All the field attributes can be accessed through **dot notion**.

[2020-06-04 02:25] AlldreenDev commented on #115
It works well.Thanks

[2020-06-24 06:03] #115 closed

[2020-06-25 19:25] rajueekgp commented on #70
@dixudx while running runSavedQueryByUrl, I am getting the below response in error log

with response: b'<?xml version="1.0" encoding="UTF-8"?><oslc_cm:error xmlns:oslc_cm="http://open-services.net/xmlns/cm/1.0/">\n<oslc_cm:status>500</oslc_cm:status>\n<oslc_cm:message>Query _Vfx3sLcFEequ0Y6VfgebEw expired.</oslc_cm:message>\n</oslc_cm:error>

it seems like the query token has been expired. Can yo

[2020-06-26 07:36] rajueekgp opened #131 "repetitive get function calls while getWorkitem with multiple returned_prop"
returned_prop = "rtc_cm:defect_category, dc:identifier, rtc_cm:comments"
wi = myclient.getWorkitem(225670, returned_properties=returned_prop)

Simillar behaviour is there while using queryWorkitems or runSavedQueryByUrl also and it resulting into taking huge time to fetch all workitems and sometime int token expire

**Logs:**

2020-06-26 13:07:01,451 DEBUG urllib3.connectionpool: https://www.sscd.

[2020-06-29 02:39] dixudx commented on #70
@rajueekgp The token is usually generated and maintained on the server side. You can try to regenerate one through web UI.

Or you can just use [original query items](https://rtcclient.readthedocs.io/en/latest/quickstart.html#query-workitems) instead of this expired token.

[2020-06-29 02:56] dixudx commented on #131
@rajueekgp From the log, it seems multiple workitems/queries are retrieved at the same time, such as 225670 and 225663.

Actually this library has reduced the times to access the server. Some of them are due to the bad design of RTC.
You can refer to[ the code](https://github.com/dixudx/rtcclient/blob/master/rtcclient/client.py#L1225) for details.

[2020-11-02 16:19] k10blogger commented on #112
[code]
I have redirection on and i am using 6.0.6.1. we have SSO but when it fails it redirects to a form-login. It seems there is some change in the way authentication is done in 6.0.6.1

[2020-11-02 16:43] srikanth288 opened #132 "RTC attributes in raw data"
Hi, I am trying to invoke RTC api, and i am able to access all the custom attriubytes, however there are some custom ones which i can see in the raw data but not able to access it . Below is one such example

('rtc_cm:XXXXX.incident.attribute.intialanalysisOwner'
 OrderedDict([('@rdf:resource'
 'https://jazz.fssa.in.gov:9443/jts/users/XXXX')]))
 ('rtc_cm:XXXXX.incident.attribute.incidentresolvedwi

[2020-11-03 04:12] dixudx commented on #132
@srikanth288 For such long `rtc_cm:XXX.incident.attribute.incidentResolutionowner` is ignored. This is by design, since the last field name, such as `incidentResolutionowner`, will get conflict with other `rtc_cm:abc.def.ghi.incidentResolutionowner`.

You can refer to [this guide about returned attributes](https://rtcclient.readthedocs.io/en/latest/quickstart.html#about-returned-properties) that y

[2020-11-03 10:57] dixudx commented on #112
@k10blogger Please try the fix mentioned [above](https://github.com/dixudx/rtcclient/issues/112#issuecomment-525295452) (Credit to @franz-95  ).

[2020-11-03 19:02] k10blogger commented on #112
Thanks that seems to work.

[2020-11-09 15:27] srikanth288 commented on #132
Thanks for the response, i would need that that for my functionality, i used Plain old Java lib for RTC part thanks . Closing the issue

[2020-11-09 15:27] #132 closed

[2021-02-09 11:26] dennisrd opened #134 "rtcclient.models.Change(): get original file name with full path"
Calling fetchAfterStateFile / fetchBeforeStateFile / fetchCurrentFile on a rtcclient.models.Change() object, returns the filepath of the file after it has been fetched. How do I get the filepath of the orginal location of the file?

[2021-02-20 07:36] longxin1020 commented on #129
D:\Anaconda3\envs\PythonProject\python.exe E:/WorkData/python_wks/pythonRTC/main.py
2021-02-20 15:34:51,700 DEBUG client.RTCClient: Get response from https://192.168.110.2:9443/ccm/authenticated/identity
2021-02-20 15:34:51,703 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): 192.168.110.2:9443
Traceback (most recent call last):
  File "D:\Anaconda3\envs\PythonProject\lib\site-pack

[2021-03-05 19:45] oskrdt commented on #112
Is there any plan to include this fix in a PR?

[2021-03-11 04:03] dixudx commented on #112
/close

Got fixed in #133.

[2021-03-11 04:03] #112 closed

[2021-03-16 12:34] MohebaIbu opened #135 "Conflict for url"
Hi dixudu,
I have used the below method to create the workitem
url = "https://<jazz>/ccm"
username = 'user1'
password = 'password'
self.myclient = RTCClient(url, username, password, ends_with_jazz=False)

ItemType = "Bug"
Title = "issue in Automation TC1 "
TicketInfo = {
			"teamArea": "Automation",
			"ownedBy": "user1",
			"plannedFor": "",
			"severity": "",
			"priority": "Unassigned",
			"fil

[2021-03-16 13:10] MohebaIbu commented on #135
@dixudx please provide update on this!

[2021-03-17 02:41] dixudx commented on #135
@MohebaIbu Any other detailed logs/errors?

[2021-03-17 04:14] MohebaIbu commented on #135
i am getting issue similar to this issue https://github.com/dixudx/rtcclient/issues/90

[2021-03-17 04:32] MohebaIbu commented on #135
2021-03-17 09:38:38,313 DEBUG client.RTCClient: Get response from https://jazz/ccm/authenticated/identity
2021-03-17 09:38:38,317 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): jazz:443
2021-03-17 09:38:38,816 DEBUG urllib3.connectionpool: https://jazz:443 "GET /ccm/authenticated/identity HTTP/1.1" 302 0
2021-03-17 09:38:38,818 ERROR client.RTCClient: Failed GET request at <https

[2021-03-17 07:38] dixudx commented on #135
From above error, it seems some fields had been set illegally.

@MohebaIbu You can try to set `keep=True` when creating, as [#90](https://github.com/dixudx/rtcclient/issues/90#issuecomment-309451564) suggested.

[2021-03-17 12:18] MohebaIbu commented on #135
I have set it to True only as you can see in the log
 new_workitem = self.myclient.createWorkitem(ItemType,Title,projectarea_name='Navigation',copied_from = "1234567", keep=True,**TicketInfo)

[2021-03-18 05:02] MohebaIbu commented on #135
@dixudx Any solution ?

[2021-03-19 02:18] dixudx commented on #135
@MohebaIbu

TicketInfo = {
"teamArea": "Automation",
"ownedBy": "user1",
"plannedFor": "",
"severity": "",
"priority": "Unassigned",
"filedAgainst": "Automation"
}

[2021-04-26 15:15] ppjmoors opened #136 "Upgrade to 0.7.0 -- client.getWorkitem() error"
Hello Dixu,

I've been using Python rtcclient 0.6.0 for a while now and I'm very satisfied with it.
The changelog of release 0.7.0 was promissing so I thought: lets upgrade.
After doing the upgrade it is not possible anymore to get information on a workitem from RTC. The same script I used with 0.6.0.
Strange.  I noticed a similar situation popped up on december 8, 2017. And now I see exact the sa

[2021-04-27 01:59] dixudx commented on #136
@ppjmoors v0.7.0 has introduced a change on authentication, refer to #133 for details, which may be not compatible with older Rational Team Concert. From your issue, it seems to be true. Sorry for this.

My suggestion is just sticking with older rtcclient version, such as `pip install rtcclient==0.6.0`.

[2021-04-27 08:00] ppjmoors commented on #136
Strange, since in the refered #133 is stated it has been tested with 6.0.6.1 which is exactly the version that I'm using.

[2021-04-27 08:05] dixudx commented on #136
@ppjmoors Wow, quite strange. @k10blogger @oskrdt Any information on your RTC settings?

And this error is outstanding as well. @ppjmoors please help check your account if it is still valid now.

[2021-04-27 13:01] k10blogger commented on #136
There is one minor difference.
[code]
So this would mean that my `ends_with_jazz=True`

Have a look at my debug message.
[code]

[2021-04-28 11:15] ppjmoors opened #137 "How to retrieve the selected values from a enumeration list"
Hi

I'm looking for a way to find the selected values from an enumeration list. Is that possible with this client?

Example: I have a enumeration list various operating systems. In the editor I've defined a variable **SelOs** which is implemented as a enumeration picker-list.
The question is: how can I determine the elements that are selected from the list of operating systems.

[2021-04-28 11:42] dixudx commented on #136
@ppjmoors  Please try the settings from @k10blogger

[2021-04-28 11:47] dixudx commented on #137
@ppjmoors You can try to query the items, see [query examples](https://rtcclient.readthedocs.io/en/latest/advanced_usage.html#compose-your-query-string).

Also you can filter through [returned proporties](https://rtcclient.readthedocs.io/en/latest/quickstart.html#about-returned-properties) by yourself.

[2021-04-29 18:48] Hermann12 opened #138 "Rtcclient for Anaconda"
Is there a possibility to use this on anaconda?

[2021-04-30 02:14] dixudx commented on #138
Yeah, after `conda install pip`, you can install rtcclient easily with `pip install -r rtcclient`.

[2021-04-30 13:10] ppjmoors commented on #137
I went through the complete list of examples but they didn't provide me additional information.

Let me try to explain again:
I have an enumeration _**AvailableOS**_ with operation systems values: MS-Windows, Fedora, Ubuntu, Solaris
In the editor I've implemented the _**SelectedOS**_ variable as Picker Enumeration List (same problem with Checkbox Enumeration List)
Next I started the browser and ex

[2021-05-07 02:41] dixudx commented on #137
@ppjmoors If you've enabled `setup_basic_logging()`, you may find some log messages like this, `Get response from xxxxx`.

Then you can manually paste the xxxxx url in your broswer to get the raw xml content. By analysis and search in the raw xml, we may find out more clues.

[2021-05-27 13:38] afaucon opened #139 "Execute a query as if we were in the past"
Hello @dixudx

I wonder if it is possible to execute a query as if we was another day in the past ?
Let's say we are May 27th, and I wan to execute a query to recover the workitems as they were 3 days ago on May 24th.
Is it possible ?

Kind regards,
Adrien

[2021-06-09 07:27] joycelynteo opened #140 "Query Work Items with dc:description"
query_str = ('dc:type="defect"' and '"word" in dc:description')

Is there a way I can query work items that have a certain word in its description? Something like the line above. If it's not possible, is there a way to increase the query limit from 1000 because I would like more data for work items that have the word in the description.

[2021-06-16 02:24] #138 closed

[2021-06-16 02:34] dixudx commented on #139
@afaucon If the query had already been save, you can still use and execute that query.

[2021-06-16 05:01] afaucon commented on #139
I feel you didn't get my point, or I didn't understand your answer.

Then, how to specify the date on which to launch an existing query? Do you
have an example?

Le mer. 16 juin 2021 à 04:35, Di Xu ***@***.***> a écrit :

[2021-06-16 10:41] #136 closed

[2021-06-16 10:52] ppjmoors opened #141 "Find children of certain type where parents are of another type"
Anyone who can help me with setting up a query-string to find the child workitems of type task where the parents are type story?
To find the parents is rather easy: **"dc:type=''story"**.
The tricky part is finding the _children of type 'task'_ and I'm a bit lost there

[2021-06-17 02:05] joycelynteo commented on #140
ah okay, thanks for your help!

[2021-06-17 02:50] dixudx commented on #141
The tricky part is finding the children of type 'task' and I'm a bit lost there

[2021-06-17 08:27] joycelynteo commented on #140
![image](https://user-images.githubusercontent.com/48021898/122360137-bf7bde00-cf88-11eb-9e98-3beb4203c98f.png)
/sort="dc:created" doesn't seem to work for me, is that an issue on my side?

[2021-06-17 09:56] dixudx commented on #140
@joycelynteo Please try `query_str = 'dc:type="defect" and oslc:orderBY="dc:created"'`.

Let me know if this works.

[2021-06-17 12:49] shott92 opened #142 "RTCClient 0.7 Fails to Connect to RTC server v6.0.6.1"
I am having issues connecting to our RTC Server v6.0.6.1 via the RTCClient v0.7.0, URL ends in ccm. (or on homepage jts)

I have tried changing the URL to end with both jazz and ccm, (both with the "Ends_with_Jazz" flag set to FALSE.)

Further I have tried to enable forwarding as per issue #93  by setting _allow_redirects=True on line 84 of client.py

Error message when using port 9443:
[RTCClient

[2021-06-17 13:25] dixudx commented on #142
This basically means that no response (either positive or negative) was received from the remote host when the TCP connection attempt took place.

One reason this may happen is because a firewall is blocking the response from the server. Another reason is that the host name is incorrect.

This could also mean there is a (temporary) problem with the server (or some router along the way). You can tr

[2021-06-17 13:48] shott92 commented on #142
tracert completes successfully in 13 hops, using the hostname to connect to the server.
I assume this leaves firewall/proxy as a possible issue? I'm not sure I'd be able to manage firewall or proxy settings, but is there a way to confirm if this is the cause?

[2021-06-17 13:53] dixudx commented on #142
Try to curl your server, such as `curl https://xyz.com:9443/ccm` and see what happened.

[2021-06-17 18:57] shott92 commented on #142
I attempted to curl the server but fail on both ports 9443 and 443, same result as 443 when no port was specified.

curl: (28) Failed to connect to www.pd-dv.jlrint.com port 9443: Timed out

curl: (60) SSL certificate problem: self signed certificate in certificate chain

More details here: https://curl.se/docs/sslcerts.html

curl failed to verify the legitimacy of the server and therefore could n

[2021-06-17 18:58] shott92 commented on #142
I attempted to curl the server but fail on both ports 9443 and 443, same result as 443 when no port was specified.

~curl-7.77.0-win64-mingw\bin\curl.exe https://www.xzy.com:9443
curl: (28) Failed to connect to www.pd-dv.jlrint.com port 9443: Timed out

~curl-7.77.0-win64-mingw\bin\curl.exe https://www.xzy.com:443
curl: (60) SSL certificate problem: self signed certificate in certificate chain

Mo

[2021-06-18 01:58] joycelynteo commented on #140
![image](https://user-images.githubusercontent.com/48021898/122494293-aff9a500-d01b-11eb-82d4-b4801f4cde36.png)
It gives the same error

[2021-06-18 02:58] dixudx commented on #142
Actually `verify=False` has already been set, so there is no need to include a CA for checking.

Please check the port and server url. And also please check if you're using a VPN.

[2021-06-18 06:28] dixudx commented on #140
@joycelynteo Please checkout [branch query-order](https://github.com/dixudx/rtcclient/tree/query-order) to see whether it works.

The query results are sorted with descending order by last modified time. Add new param `order_by` is added to method `queryWorkitems`. Possible value could be,
- "-dc:modified": descending order by last modified time
- "+dc:modified": assending order by last modified t

[2021-06-18 08:15] shott92 commented on #142
yes, I am using a VPN

[2021-08-10 09:52] s7eph4n opened #143 "ends_with_jazz = True needed for /ccm"
rtcclient 0.7.0
RTC 6.0.6.1

This does not work for me:
[code]

It fails with
[code]

When using `ends_with_jazz = True`  I get
[code]

So I guess they fixed ccm to follow jazz' behavior?

(Edit: Fix workaround description)

[2021-08-10 10:03] s7eph4n opened #144 "addAttachment does not link the uploaded attachment to the workitem"
rtcclient 0.7.0
RTC 6.0.6.1

When adding an attachment, the file is successfully uploaded, but when linking to the workitem the server complains about malformed XML.

To get it to work I fixed `_add_attachment_link` to use JSON:
[code]

[2021-08-11 08:24] dixudx commented on #144
@s7eph4n Please try to validate your xml file first. Try [this online validator](https://www.xmlvalidation.com/).

[2021-08-11 08:26] dixudx commented on #143
@s7eph4n Does this issue still persist

[2021-08-11 09:46] s7eph4n commented on #144
That's the thing. There is no XML sent by the original code as far as I can tell, instead `payload` is posted as is.
https://github.com/dixudx/rtcclient/blob/6c91ff29/rtcclient/workitem.py#L809

[2021-08-30 06:47] hiro-icear opened #145 "Version0.7.0 login-cookie missed ,repeat login"
I use EWM 7.0.2 (WASLIBERTY), but returned a response value  authfailed="Authrequired"
main.py sourcecode
   myclient = RTCClient(options.host, options.user, options.password, ends_with_jazz=False)
client.py
        # authfailed
        authfailed = resp.headers.get("x-com-ibm-team-repository-web-auth-msg") <--"Authrequired"
        if authfailed == "authfailed":

I think this is the same as #136.

[2021-08-30 10:19] dixudx commented on #143
2021-08-10 11:46:25,120 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): foo.bar:443
2021-08-10 11:46:25,428 DEBUG urllib3.connectionpool: https://foo.bar:443 "GET /ccm/authenticated/identity HTTP/1.1" 302 None
2021-08-10 11:46:25,499 DEBUG urllib3.connectionpool: https://foo.bar:443 "GET /ccm/authenticated_identity HTTP/1.1" 200 76

Yes. It seems there is version skew for RTC.

[2021-08-30 10:19] #143 closed

[2021-09-10 05:56] hiro-icear commented on #145
Someday, we look forward to the day when the latest version can be used!

[2021-09-10 05:56] #145 closed

[2022-02-22 23:47] MartinBarkerPhilips opened #146 ""(invalid token): line 17, column 77" error when trying to getWorkItem"
Hello, I am trying to use the rtcclient python package to authenticate and retrieve work items from my board. Specifically to run a command like this without error: `myclient.getWorkitem("202007")`

But when I run that command, after a bunch of debug output shwoing 200 and 302 status codes, I get an error when client.py tries to parse xml data from a response:
`2022-02-22 15:24:21,540 ERROR client

[2022-02-23 07:59] dixudx commented on #146
@MartinBarkerPhilips Seems the authentication is not okay.

Please try setting `ends_with_jazz` to False,

[code]

[2022-02-23 15:49] MartinBarkerPhilips commented on #146
@dixudx I tried going through my steps with ends_with_jazz=True but it resulted in the same html error instead of xml. I found a post online which sounds like exactly what my issue is:
https://jazz.net/forum/questions/248769/how-to-resolve-issue-with-oslc-workshop-getting-error-javascript-is-either-disabled-or-not-available-in-your-browser

I'm trying to understand, maybe I'm not authenticating co

[2022-02-25 21:15] MartinBarkerPhilips opened #147 "rtcclient ownedBy returns User ID and not email address"
I am using the Python package rtclcient (v0.6.0) to get info from work item.
Some of the properties I am querying from my RTC work item include:
[code]

When the query for these items finish and I examine the returned variables, I notice that the 'ownedBy' value is the user's id, not their email address.
[![enter image description here][1]][1]
If I look at the value of `raw_data['rtc_cm:ownedBy'][

[2022-02-26 12:53] dixudx commented on #147
@MartinBarkerPhilips You can refer all the returned properties with [this snippet](https://rtcclient.readthedocs.io/en/latest/quickstart.html#about-returned-properties).

You can check all the returned properties and find out whether there is a property contains the user email. Current RTCClient has returned all the properties that it can find. If not found, you may need other ways to get this val

[2022-02-28 18:56] MartinBarkerPhilips commented on #147
I can see an XML page with profile info ( user id / email ) for every user using this url:
`https://rtcus1.ta.company.com/ccm/oslc/users?oslc_cm.pageSize=50&_resultToken=_token&_startIndex=0`
If I know the userId of someone, like for example `320178017` , is there some way I could append that to my url, so I can see xml profile info for one specific user ? I thought something like this would work

[2022-02-28 20:06] MartinBarkerPhilips commented on #147
I made my own function in client.pt : `def getUserEmail(self, user_id):`

[2022-02-28 20:06] #147 closed

[2022-03-01 01:31] dixudx commented on #147
@MartinBarkerPhilips Would you please submit a PR on this? Thanks so much.

[2022-03-01 13:21] casabre opened #149 "Support for asyncio"
I would be beneficial to have also an async implementation of the RTCClient because releasing the CPU for a current task during I/O Jazz requests speeds up overall local processing.

[2022-03-02 01:45] dixudx commented on #149
That's awesome. Thanks.

[2022-03-08 23:51] MartinBarkerPhilips opened #150 "workItem.getChildren() taking forever and printing 'unable to handle' error messages"
Hello, I am trying to use the .getChildren() function in python to get the ID numbers for each child task linked to a parent epic. The code works, but I've experienced some incredibly long wait times for this function to complete when there are more then 3 child tasks.
My python script will even throw some error messages (that dont interrupt the script) such as:
[code]
I was wondering if there was

[2022-03-09 02:05] dixudx commented on #150
@MartinBarkerPhilips What's your rtcclient version?

In #148, multiprocessing was introduces to help speed up the queries. You can take a try.

[2022-03-09 02:26] dixudx commented on #150
You can create a query for this. Please refer [this doc](https://rtcclient.readthedocs.io/en/latest/quickstart.html#query-workitems) for details.

But for querying children workitems, I don't find a good way to make up a query string. I don't know whether newer RTC has provided newer APIs for this.

[2022-03-09 02:39] MartinBarkerPhilips commented on #150
@dixudx I am currently using v0.6.0 with a slight code modification to prevent an error "ssl key too short" that I was facing with my companies (older) version of RTC

In a previous issue you mentioned:
[code]
Which is why I've been sticking to v0.6.0, and will probably need to continue using v0.6.0.

Maybe I can take the 'Pull Request' file changes in your #148 link, and add them into my local co

[2022-03-09 18:25] MartinBarkerPhilips commented on #150
If I clone this repo, install it locally, and add this code before requests.get( in base.py (to fix ssl key too short error)
[code]
I then start python shell and run these commands to loginto my rtc account:
[code]
But it results in an error saying:
[code]
so im going to investigate how I can make this current version of rtcclient (v0.8.0) work with my companies older version of rtc which previous

[2022-03-09 21:49] MartinBarkerPhilips commented on #150
I believe I came up with a temporary fix by making my own custom function rtcclient.getChildIds(rtc_parent_id) which returns a list of only the child ids in a ticket

[2022-03-10 16:53] MartinBarkerPhilips commented on #150
I was able to get it working I think, just had to solve each cherry pick commit issue one at a time.

[2022-04-08 17:57] #150 closed

[2022-04-08 18:23] MartinBarkerPhilips opened #151 "RTC Query taking forever"
Hello, I have an RTC Query URL that If I open in my browser loads very quickly and only shows 302 items (web display is paginated, shows "1 - 50 of 302" and 'previous' / 'next' buttons)

If I query for the URL with an empty string for returned properties:
[code]

it takes 28 / 30 minutes to return a list of all 302 work items.

I'm running on version 6.0 of this package because my RTC client is an

[2022-04-09 09:48] dixudx commented on #151
[code]

@MartinBarkerPhilips I'd suggest setting a non-empty string for returned properties, such as `returned_properties="dc:title,dc:identifier,rtc_cm:state,rtc_cm:ownedBy"`.

#148 introduced multi-processing which can speed up the performance. This feature has been shipped with v0.8.0.

[2022-04-11 17:59] MartinBarkerPhilips commented on #151
Thank you for your response I appreciate the linked and mentioned new branch, I will try using it and let you know how it goes.
Currently working on an RTC to ADS migration script, will make it public once it's finished

[2022-04-11 20:34] MartinBarkerPhilips commented on #151
@dixudx
[code]

There is some indentation issue that happens when I run the command `from rtcclient.utils import setup_basic_logging`
I'm looking into trying to fix it, seems to just be indentation issue on line 1371 of client.py

[2022-04-11 21:03] MartinBarkerPhilips commented on #151
i believe I fixed the indentation issue to the best of my ability, it doesnt throw an error but Im not 100% sure if my solution is the correct intended indentation order.

Either way my local version of the repo with the indentation fix + 'ssl too small' err fix, I get an error when trying to run
[code]
err:
[code]

Even though this line has worked fine in version0.6

[2022-04-11 21:26] MartinBarkerPhilips commented on #151
Here is my repo fork:
https://github.com/MartinBarkerPhilips/rtcclient
started with your `release-0.6` branch and made these changes:
- indentation error fix to client.py
- added fix for 'ssl too small' err in base.py
- added additional logging to getProjectArea() to try and solve why it no longer works

[2022-04-21 16:16] MartinBarkerPhilips commented on #151
master doesnt work for me because im running an older version of rtc, and the custom release-0.6 branch had some file indentation formatting errors last time I tried to run it

[2022-04-22 08:12] dixudx commented on #151
@MartinBarkerPhilips I've cherry-picked multi-thread patches to v0.6.0.

Please install with

[code]

[2022-04-29 15:59] MartinBarkerPhilips commented on #151
@dixudx running this command results in an error:

[code]

[2022-04-29 16:08] MartinBarkerPhilips commented on #151
Tried to clone repo, checkout to `release-0.6` branch, and pip install -e the folder locally but got same error.

i made a fix , had to change
`version = 0.6.0` to `version = 0.6.1` in setup.cfg

[2022-04-29 21:09] MartinBarkerPhilips commented on #151
Is there a different way to run rtc queries with multithreading? If I try this method:
[code]

my query url is for 200+ results, but only ever returns 34 in my query_results list

[2022-04-29 21:16] MartinBarkerPhilips commented on #151
tried to follow the instructions in the docs https://rtcclient.readthedocs.io/en/0.6.0/quickstart.html#query-workitems-by-saved-query-url

[2022-04-29 21:21] MartinBarkerPhilips opened #158 "runSavedQueryByUrl only returns 34 results"
Facing a problem where when I run a query from a URL I only get at max 34 responses.
Is there a different way to run rtc queries with multithreading? If I try this method:
[code]

my query url is for 200+ results, but only ever returns 34 in my query_results list

am i doing something wrong? tried to follow the instructions in the docs https://rtcclient.readthedocs.io/en/0.6.0/quickstart.html#quer

[2022-04-30 08:50] dixudx commented on #151
version = 0.6.0 to version = 0.6.1 in setup.cfg

Good job. I've updated this change to branch `release-0.6` as well.

[2022-04-30 08:52] dixudx commented on #151
( i can add my functions to master branch as well, maybe I could add my ssl code fix to release-0.6 as well and use that branch/version? )

Sure. We can add this to master branch, and cherry-pick to `release-0.6` later. @MartinBarkerPhilips

[2022-04-30 08:57] dixudx commented on #151
Is there a different way to run rtc queries with multithreading?

Both `runSavedQuery` and `runSavedQueryByUrl` are ok.

[2022-05-01 02:20] dixudx commented on #158
Please help verify,
1. All the items in your query are not stale. I think rtcclient may abandon some stale items.
2. The paged content from the server may not be completed. Some data may be missing, which blocks rtcclient searching all the items.

[2022-05-02 03:16] MartinBarkerPhilips commented on #158
Not sure how I can verify either your #1 or #2 point, but I did verify that for the query URL I am using, in the web UI it says there are 170 results:
![image](https://user-images.githubusercontent.com/99444148/166179882-7385101e-d60c-4d0a-afa8-7a8997b1bd0f.png)

1)
Clone repo, checkout to release-0.6, pull.
Add this code to base.py before get request at line 70 to support my companies older RTC v

[2022-05-02 03:25] MartinBarkerPhilips commented on #158
if I run these same commands with my own rtcclient repo based on v6.0 without the multithreading addition,  `runSavedQueryByUrl` will successfully return all 170 results at once

[2022-05-04 01:28] petersonsource commented on #129
I'm face the same  problem here and I don't no how do dealing with.

myclient = RTCClient(url, username, password, ends_with_jazz=False)
2022-05-03 22:03:18,357 DEBUG client.RTCClient: Get response from https://gid.caixa:9443/ccm/authenticated/identity
2022-05-03 22:03:18,361 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): gid.caixa:9443
Traceback (most recent call last):
  File "

[2022-05-04 05:46] dixudx commented on #129
@petersonsource Actually all the requests has disabled verifying ca bundles.

Above error may be caused by the cipher, I guess.

Please try to add below to `rtcclient/__init__.py` and see if it works,

[code]

[2022-05-04 05:48] dixudx commented on #158
cc @casabre Multi-threading feature did lost some entries. Please help check and fix it. Thanks.

[2022-05-04 10:17] casabre commented on #158
@dixudx @MartinBarkerPhilips I am not seeing any indication that the multi-threading itself could lead to wrong results. The routine just delegates the `_handle_resource_entry` parsing to a sub-thread. Everything stays in the same RAM-space, no forking or pickling which could lead to wrong behavior. Finally, if the parsing returns `None`, than it filtered out. But a `None` return could occur also

[2022-05-12 07:27] ElBarto221 opened #160 "getAttachments only works for 2+ attachments"
Trying to fetch the attachments from a workitem with only one attachment results in

`AttributeError: 'str' object has no attribute 'get'`

Root cause seems to be this code line:

https://github.com/dixudx/rtcclient/blob/dbec1cc87281af3aff9846c1f5f62097b9716406/rtcclient/client.py#L1378

If I change this to

`if isinstance(entries, dict)`

it works.

[2022-05-12 07:49] dixudx commented on #160
Please help submit a PR. Thanks for your contribution.

[2022-05-12 07:51] dixudx commented on #160
Actually `OrderedDict` is supposed to work.

@ElBarto221 Would you please help take more tests on this change? We need to make sure the new change works.

[2022-05-12 07:57] ElBarto221 commented on #160
@dixudx Sure, what do you need me to test? Also, I just realized now that I got the getAttachments method to work, how do I get the actual attachment content?

[2022-05-12 07:59] ElBarto221 commented on #160
Btw, we are using EWM 7.0.1 with form-based authentication.

[2022-05-12 08:13] dixudx commented on #160
[code]

You will see all the attribute list, where you can find the content.

[2022-05-12 09:10] ElBarto221 commented on #160
I tried this

`wk.getAttachments()[0]["content"].get('@rdf:resource') `

but it only gives me the URL. How can I then download the actual attachment content? If I try

`rtcClient.get(attachments[0]["content"].get('@rdf:resource'))`

it results in

ExpatError                                Traceback (most recent call last)
File ~\Anaconda3\envs\rtc2jira\lib\site-packages\rtcclient\utils.py:32, in t

[2022-05-18 10:09] gunasekarjo commented on #88
@dixudx Hi I am facing some issue with create work item can u tell me which branch is completely fixed currently I am using development branch which gives me the 409 Client Error: Conflict for url error

[2022-06-03 21:31] MichelleBX opened #161 "resp.content doesn't have real xml format data"
resp.content doesn't have real xml format data
=====
Trying rtcclient 8.0.1 for RTC 6.0.6.1, using url with /ccm path. Authentication seems ok, though pulling data,  it doesn't have real ones, instead giving some "Copyright .. ".  Testing script is as below:

url = "https://my-rtc-server-url/ccm"
username = "uuu"
password = "ppp"
myclient = RTCClient(url, username, password, ends_with_jazz=False)

[2022-06-04 01:28] dixudx commented on #161
XXPP #1422: resp: <Response [200]>
XXPP #1422: content: "b'\n\n\n\n\n\n\n<title></title>\n\n\n\n\n<style type="text/css">\n#net-jazz-ajax-NoScriptMessage {\n\twidth: 100%;\n\tcolor: #D0D0D0;\n\tfont-size: 2em;\n\ttext-align: center;\n\tposition: absolute;\n\ttop: 1%;\n\tz-index: 999;\n}\n</style>\n\n\n\n\n\t

It is supposed to be an auth issue. Would you please share some log message on the authen

[2022-06-06 19:14] MichelleBX commented on #161
Thanks for the quick response. Version 0.6.0 does help passed the authentication step. I copied _get_headers() from 0.6.0 to 0.8.1, I was able to retrieve xml format data for "Project Area" attributes.
Though at this point it complains while it tried to parse the data.
2022-06-06 15:10:44,767 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): ffx-rtc-app.msc.fema.gov:443
2022-06-06 1

[2022-06-06 19:25] MichelleBX commented on #161
Thanks a lot for the quick response. Version 0.6.0 does help passed the authentication step. I copied _get_header() from 0.6.0 to replace the function in 0.8.1, I was able to get xml format data. While it tried to parse the data, it failed:
2022-06-06 15:10:44,767 DEBUG urllib3.connectionpool: Starting new HTTPS connection (1): my-rtc-server-url:443
2022-06-06 15:10:48,105 DEBUG urllib3.connection

[2022-06-07 07:07] dixudx commented on #161
@MichelleBX Glad to know it works.

rtcclient 0.7.0 introduced an auth change for RTC and ELM with higher version. So we may need to stick with rtcclient 0.6.0 if we are using older version RTC/ELM.

[2022-06-07 15:46] MichelleBX opened #162 "RTC Work Item Attachment Download - new function request question"
It's very nice rtcclient is implemented to extract various information in various types of workitems of RTC. For a migration project I am on, I need to export as much information from RTC as possible, including work item attachment. I was able to use getAttachment to retrieve work item attachments details, and wondering, if a download attachment function is available, or to be considered to add to

[2022-06-07 15:48] MichelleBX commented on #161
Thanks for prompt response, and suggestions. I am able to resolve the issue and move forwards.

[2022-06-07 15:48] #161 closed

[2022-06-29 18:42] MartinBarkerPhilips opened #165 "Can't find projectarea"
Hello, I am trying to use rtcclient v6.0 to read work items from an RTC project which has special characters and spaces in the project title. Due to this I have been having trouble getting authentication to work with my project.

My rtc dashboard url looks like this:
[code]

Where in the URL the project name looks like `(HC)%20CT%20AMI%20FRU` and URL decodes to `(HC) CT AMI FRU`

if I try to use t

[2022-06-30 06:13] MartinBarkerPhilips commented on #165
update, I ran ` myclient.getProjectAreas(archived=False, returned_properties="dc:title,dc:identifier")` and this project did not show up, so I think my rtc project area is not setup correctly, or missing an access requirement which this package needs

[2022-06-30 11:12] dixudx commented on #165
I don't know whether the projectarea `(HC) CT AMI FRU` will be encoded or not.

I'd suggest listing all the project areas and pick it out with iteration.

[2022-06-30 15:29] MartinBarkerPhilips commented on #165
I listed all the project areas and mine was missing from the list, like rtcclient cant find it as a project area for some reason.

is there some setting in my rtc project config that needs to be changed in order to allow for the python api to be able to find my project? such as changing the access control setting for my rtc project to 'everyone' instead of 'team members' ?

or maybe the username/p

[2022-07-04 14:05] dixudx commented on #165
@MartinBarkerPhilips As long as you can get a list of project areas, that means it is okay with the config settings.

I am wondering whether that project area is marked as **Archived**. Please have a try on it.

[code]

Are you using a special account for the client?

If you can view that project area from web browser, then the client can access as well.

[2022-07-05 17:00] MartinBarkerPhilips commented on #165
I made a simple script to print all project areas:
[code]
It prints out these:
[code]
But the project I need, `(HC) CT AMI FRU` is not included.

If i run the code with archived=false its the same output
[code]

I can see the project I want under 'my projects' online with the same username/password I used in my code
![image](https://user-images.githubusercontent.com/99444148/177379049-6315de10-b9c

[2022-07-05 17:04] MartinBarkerPhilips commented on #165
I appreciate your help by the way thank you @dixudx

[2022-07-08 03:55] dixudx commented on #165
This seems to be a new category for project areas. We may need to add a new parameter to fetch project areas of this category.

@MartinBarkerPhilips Would you please inspect this web page, and refresh the page to see the network requests. I think we could get some clues on `All the other projects`.

[2022-07-11 22:12] MartinBarkerPhilips commented on #165
Here is some insight on the network connections, there are no new connections when clicking the 'all other projects' tab. only when i refresh the page, which default goes to 'my projects'
![image](https://user-images.githubusercontent.com/99444148/178367388-797b7f86-cfc1-48c7-919f-f568a1044f23.png)

im talking with people in my org about a potential fix, my script is unable to connect with any pro

[2022-07-14 10:20] Mershl opened #166 "Incompatible with Jazz 7.0.2"
Hi @dixudx,

We upgraded to Jazz 7.0.2 and with it I wanted to upgrade rtcclient to its latest and greatest version.

My findings so far:
- All get requests in `client.py` without the explicit auth tuple report an `401 - Unauhorized` error. This is fixed by adding an explicit `auth=(self.username, self.password)` to every `self.get` request coming from `client.py`.
- paged_resources (like projecta

[2022-07-15 09:10] dixudx commented on #166
This is strange. But luckily you got a solution.

I was wondering whether the `token` was not needed anymore in Jazz 7.0.2.

I think we can try to add explicit `auth=(self.username, self.password)` to `self.get` and `self.post`. Let's see what happens.

[2022-07-15 09:16] dixudx commented on #165
I saw there was a request on `allProjectsAreas`. Would you please take a look on the response data and search the desired project areas that were missing.

![image](https://user-images.githubusercontent.com/5449021/179193260-ea78950c-6e08-4ed7-9f48-9d7a645622e3.png)

I guess the APIs may get changed.

[2022-07-15 14:15] MartinBarkerPhilips commented on #165
If I click the 'allProjectAreas' in network tab, I can get a URL which I can go to

![image](https://user-images.githubusercontent.com/99444148/179239696-fd5de8cb-69e6-4cbf-b03e-69f2f5631349.png)

the url leads to an xml file with 29 instances of `xsi:type="rest:ProjectAreaDTO"`
![image](https://user-images.githubusercontent.com/99444148/179240077-3d5a1867-4549-445f-88e1-7a9d6d0cc47d.png)

This is

[2022-07-15 14:35] MartinBarkerPhilips commented on #165
I checked the v0.6 code in client.py and followed what happens when i call `getProjectAreas`, found that it seems to be calling
[code]
inside
[code]
only once, and in my case its the very end, so its only finding the last 10 for some reason
[code]

[2022-07-15 14:41] MartinBarkerPhilips commented on #165
I was able to implement a temporary fix by changing page_size="100" in this function (originally it was 10) but ill have to fix the _get_paged_resources pagination

[code]

[2022-07-15 16:34] MartinBarkerPhilips commented on #165
I think i came up with a fix for the _get_paged_resources function, by changing this section:

[code]
So that elements would get concatenated correctly

[2022-07-15 16:34] #165 closed

[2022-07-15 16:35] MartinBarkerPhilips commented on #165
they werent getting concatenated correctly, so the `page_size` var number of results in resources_list would keep getting overwritten again and again, untill it would finally return the last `page_size` number of results only

[2022-07-18 07:46] Mershl commented on #166
This fixes the first set of issues and leaves us only with the "Query expired" error.

OSLC response for createWorkitem -> getProjectArea -> _getProjectAreas -> _get_paged_resources:

[code]

[2022-07-18 10:49] dixudx commented on #160
Please refer to [comment in #161](https://github.com/dixudx/rtcclient/issues/161#issuecomment-1147831593).

[code]

[2022-07-18 10:54] #151 closed

[2022-07-18 10:56] dixudx commented on #158
Try to see whether this works.

[code]

[2022-07-18 10:57] dixudx commented on #162
I think we could use the `getAttachment` method to find the download link.

[2022-07-18 10:58] dixudx commented on #166
Please help verify this query `_PBIIUANdEe2A47bFfUIiyQ` with your browser and see what happened.

[2022-07-19 12:00] Mershl commented on #166
Execution log for creating a workitem:
[code]
Immediatly opening the requested URL in the browser shows:
![grafik](https://user-images.githubusercontent.com/520251/179744858-a2ba1587-a0b2-464a-9dce-5a544956fa4e.png)

[2022-07-19 20:36] MartinBarkerPhilips opened #167 "Can't get enumeration list selected value"
Hello, I have an rtc custom work item with the field 'Design Authority" which is a check box of 5 options.

![image](https://user-images.githubusercontent.com/99444148/179842714-770ae371-726a-4fff-aa56-6e1ece9cce6f.png)

I checked my rtc settings, and i believe it is an enumeration list

![image](https://user-images.githubusercontent.com/99444148/179842844-f22e1e78-19a0-496f-a89f-e46836b06103.png)

[2022-07-20 09:21] dixudx commented on #167
I think we could take a look at raw data of workitem. There should be some fields to indicate the selected data.

[2022-07-20 14:53] MartinBarkerPhilips commented on #167
The raw_data object does have an element for DesignAuthority, the field I am trying to get

![image](https://user-images.githubusercontent.com/99444148/180012512-6a1f6ec6-5351-4fc3-a076-8f855c20394b.png)

if you go to the url, this is the contents of the page:
[code]
Which has each option and link to each options resource, clicking link for the last option, 'Suzhou' leads to this

[code]
which doe

[2022-07-20 20:25] MartinBarkerPhilips commented on #167
The 'kind' of item is a checkbox enumeration list
![image](https://user-images.githubusercontent.com/99444148/180074977-cfa53f51-f190-4167-8d19-a9f09e883afd.png)

in xml, there is only a `oslc_cm:collref` url

[code]

[2022-07-21 03:39] dixudx commented on #167
Is there any chance that the field 'Design Authority" is recorded in another work type instead of workitem? Would you help inspect the web browser to see if there are other requests related on "Design Authority".

[2022-07-24 12:11] dixudx commented on #160
@ElBarto221 I found this was due to the dependency `xmltodict`.

`xmltodict` 0.13.0 is buggy. xref martinblech/xmltodict#297

Please stick to older 0.12.0 version. `pip install -U xmltodict==0.12.0`.

[2022-07-28 14:50] TheAverageUser987 commented on #166
Hi @dixudx, @Mershl
I am also struggling a bit with Jazz 7.0.2. If I add the `auth=(self.username, self.password)` to the client.py I get no login errors but when I try to get an item I get the following.

[code]

[2022-07-28 15:21] TheAverageUser987 commented on #166
Update: the authentication seems to be not working, because using the wrong password will give the same result...

[2022-07-29 02:37] dixudx commented on #166
Yeah, the authentication fails.

Please try below solution from @Mershl.

[2022-07-30 11:54] TheAverageUser987 commented on #166
Yes I tried that, every get has now `auth=(self.username, self.password),` in the parameters. But I still have no access to the workitems

[2022-08-01 08:48] dixudx commented on #166
@TheAverageUser987 Would you please share your rtcclient version, code snippet and detailed logs? Thanks

[2022-08-01 09:02] dixudx opened #168 "xmltodict starts using dict instead of OrderedDict"
From the [Python 3.7 changelog](https://docs.python.org/3.7/whatsnew/3.7.html):

`xmltodict` starts using `dict` instead of `OrderedDict` from 0.13.0.

Currently in rtcclient, `OrderedDict` is still used to parse items from `xmltodict`. And we pinned `xmltodict<=0.12.0` in `requirements.txt` for now.

[2022-10-20 06:13] LiangJunyi-010 opened #173 "Add attachment fail because of KeyError : 'files'"
Hi dixudu,
After i create a new workitem, i try to add some attachments to it.
i use
[code]

It will show KeyError: 'files'
It is because of the line in _workitem.py_
[code]
I try to print the json_body, it shows
`{'error':"CRJAZ6053E To complete the 'Save Work Item' task, you need these permissions: 'You don't have permission to perform the following actions:\n Add an attachment (modify/reference

[2022-10-20 06:49] LiangJunyi-010 commented on #173
Thanks for you reply,
Because currently i can manually add attachment but can not use python script.
I am not sure if my account did not have permission why it works for manually.

[2022-10-20 07:07] dixudx commented on #173
Maybe the permissions are different for UI operations. Please try with other accounts that have enough permissions and see what happens.

[2022-10-20 08:17] LiangJunyi-010 commented on #173
Yes it works after i changed to another account.
Thanks very much!

[2022-10-20 08:19] dixudx commented on #173
Solved. Close it.

[2022-10-20 08:19] #173 closed